[2015-10-22 04:26] hackajesse opened #1 "Schedule initial project meeting with Jean Walsh"
_From @hackajesse on October 21, 2015 17:5_

_Copied from original issue: sfbrigade/adopt-a-drain.old#9_

[2015-10-22 04:26] hackajesse opened #2 "Get drain/catchment data to the open data portal"
_From @hackajesse on October 21, 2015 17:5_

- [x] schedule call w/data contact at PUC
- [] document dataset
- [] update inventory for PUC
- [] Publish dataset manually
- [] Mark inventoried dataset as published

_Copied from original issue: sfbrigade/adopt-a-drain.old#8_

[2015-10-22 04:26] hackajesse opened #3 "Customize look and feel"
_From @hackajesse on October 21, 2015 17:4_

_Copied from original issue: sfbrigade/adopt-a-drain.old#7_

[2015-10-22 04:26] hackajesse opened #4 "Develop MVP list of changes and/or features"
_From @hackajesse on October 21, 2015 17:3_

_Copied from original issue: sfbrigade/adopt-a-drain.old#6_

[2015-10-22 04:26] hackajesse commented on #4
@therebelrobot is this the right place to add a preliminary list of developer changes to create a backlog? Or do you want to create separate issues for those elsewhere?

[2015-10-22 04:26] hackajesse commented on #4
_From @therebelrobot on October 21, 2015 18:8_

Go ahead and add the list here, each item will most likely be their own github issue for tracking/assignment. If you have time to separate each out, feel free to, otherwise I'll get to it either tonight or tomorrow.

[2015-10-22 04:26] hackajesse commented on #4
_From @therebelrobot on October 21, 2015 18:9_

I've added the `MVP` tag for use if you do end up separating them out.

[2015-10-22 04:26] hackajesse opened #5 "Collect user needs (user research)"
_From @hackajesse on October 21, 2015 17:3_

_Copied from original issue: sfbrigade/adopt-a-drain.old#5_

[2015-10-22 04:27] hackajesse opened #6 "Identify users (internal and external)"
_From @hackajesse on October 21, 2015 17:3_

_Copied from original issue: sfbrigade/adopt-a-drain.old#4_

[2015-10-22 04:27] hackajesse opened #7 "Deploy base adopta installation"
_From @hackajesse on October 21, 2015 17:2_

Based on the backgrounding, we need to figure out which fork is best to start from and where it will go

_Copied from original issue: sfbrigade/adopt-a-drain.old#3_

[2015-10-22 04:27] hackajesse opened #8 "Get server environment figured out- where will this live?"
_From @hackajesse on October 21, 2015 16:59_

_Copied from original issue: sfbrigade/adopt-a-drain.old#2_

[2015-10-22 04:27] hackajesse commented on #8
_From @therebelrobot on October 21, 2015 19:30_

For the time being, I've started a deploy hook from the `develop` branch into http://adoptadrainsf.herokuapp.com/ - ~~It's erroring out right now, need to track down the logs. I'll dig more into this later tonight.~~ (*https://github.com/sfbrigade/adopt-a-drain/pull/10 fixed the erroring issue*)

We can hook in `master` to Azure if that's where we d

[2015-10-22 04:27] hackajesse opened #9 "Backgrounding and research on what it takes to successfully deploy Adopta"
_From @hackajesse on October 21, 2015 16:57_

- [x] Connect with folks who built it
- [x] Reach out to Spike about lessons learned, share list of questions/concerns from PUC
- [x] Review documentation

_Copied from original issue: sfbrigade/adopt-a-drain.old#1_

[2015-10-22 04:46] hackajesse opened #10 "Add reminder to clean drain to your calendar"

[2015-10-22 04:47] hackajesse opened #11 "Social sharing that you adopted your drain!"

[2015-10-22 04:47] hackajesse opened #12 "Name your drain"

[2015-10-22 04:47] hackajesse opened #13 "Human-style text message reminders"

[2015-10-22 04:48] hackajesse opened #14 "Implement copy for email notification about successful adoption"
Includes information on how to clean your drain, etc.

[2015-10-22 15:53] jbonaguro commented on #11
Great idea!

[2015-10-22 15:54] jbonaguro commented on #12
Love in concept...and may need to think about vetting

[2015-10-23 23:01] hackajesse commented on #12
@jasonlally do you have the link to the db of bad words? 

– 
Jesse Biroscak

jesse.biroscak@gmail.com

c. 415.439.3164

[Li] [Tw]

On Thu, Oct 22, 2015 at 9:07 AM, jbonaguro <notifications@github.com>
wrote:

[2015-10-27 21:43] therebelrobot opened #15 "Open Data API Integration"
cc: @sfbrigade/website-tools-core-team

So I was chatting with @jasonlally about the API that will be released soon for the drains (soonest tomorrow, latest end of this week), and he directed me to a currently published API that has a similar structure: http://dev.socrata.com/foundry/#/data.sfgov.org/cuks-n6tp

We'll want to see where in the app the api is being consumed, and see what will be need

[2015-10-28 22:09] hackajesse commented on #1
Scheduled for Friday 10/30 at 10am.
Meeting to get folks on the same page.

Agenda:
1. Jason/Jean update on the status of opening the data
2. Jesse/Jason update Jean on the status of the app
3. Jean/PUC concerns/questions
4. Next steps discussion
5. Next meeting scheduling

[2015-10-29 07:47] afomi opened #16 "Work with CfSF Coordinator on hosting expenses"
Hi @hackajesse, this project requires 21,000+ records to be stored. Heroku's free tier maxes out at 10,000.

Is there a SF Brigade account that could host this and manage the payment? Or any other alternative :smile:

[2015-10-29 07:48] afomi commented on #15
I loaded 9000 items tonight at http://adoptadrainsf.herokuapp.com.

Next steps: https://github.com/sfbrigade/adopt-a-drain/issues/16

[2015-10-29 07:51] afomi opened #17 "What unique id (from the City) do we store in Adopta?"
Adopta's `Thing`s table has a `city_id` field, which I'm assuming is to store an external identifier. 2 fields looked like candidates, and I have hunch which one, but wanted to clarify.

From a sample record:

`"DPW_Node_ID":"22337" `
or
`"PUC_Maximo_Asset_ID":"N-36453"`

cc @jasonlally, @hackajesse

[2015-10-30 06:02] hackajesse commented on #14
Likely use Mandrill to send the emails and use Mailchimp templates as the main email editing method.
http://kb.mailchimp.com/integrations/other-integrations/mandrill-for-mailchimp-users

[2015-10-30 06:32] hackajesse opened #19 "Keyboard is triggered when map is touched on mobile devices"
touch the map, keyboard appears.

[2015-10-30 06:34] hackajesse commented on #2
@jasonlally would you say this is done?

[2015-10-30 06:34] #9 closed

[2015-10-30 06:35] hackajesse commented on #7
@therebelrobot would you say this is finito?

[2015-10-30 06:36] hackajesse commented on #8
@therebelrobot thoughts on a more permanent solution than heroku? Feel free to let me know your preferences so I can have the govt host pay for servers as needed.

[2015-10-30 06:37] hackajesse commented on #12
This seems to be deployed already. @afomi did you modify anything to make this happen?

[2015-10-30 06:38] hackajesse opened #20 "In database, have each drain represent a different row"
For clarity of data, each row should be its own drain, not as per status quo, which is each row represents a user, who can have multiple drains.

[2015-10-30 06:41] hackajesse opened #21 "Change "send feedback" mail to info@sfwater.org"

[2015-10-30 06:42] hackajesse opened #22 "Email notification that it's time to clean your drain per storm event trigger"

[2015-10-30 22:24] afomi commented on #12
Hi @hackajesse,

In terms of bad-word filters, here are a couple popular libraries. Adopta doesn't seem to have a filter built in.

* https://github.com/intridea/profanity_filter
* https://github.com/tjackiw/obscenity

The `Thing` object does have a `name` field. For this instance of Adopt-a-drain, the name field was populated with the `Drain_Type` value from the dataset.

[2015-10-30 22:26] afomi commented on #20
@hackajesse,

I believe this is the current state.

There is a `Thing`s table that holds things.. in this case, Drains.
There is also a `User`s table that holds images.

Each `Thing` has a `user_id` field that points to the `User` who has adopted the drain.

[2015-10-30 22:28] afomi commented on #16
A Heroku account was created for `sfbrigade@gmail.com`, and this Adopt-a-drain instance is now owned by that account.  My CC info is currently attached to the account, so I'll need to work with @hackajesse, or another CfSF member to update that with the appropriate billing info.

[2015-10-30 22:29] afomi commented on #15
I loaded all ~21k records on Wednesday night.  This is complete, and viewable at http://adoptadrainsf.herokuapp.com.

[2015-10-30 22:29] #15 closed

[2015-10-30 22:30] afomi commented on #7
@hackajesse, I think this is complete.  We opted to fork CfA's most recent version, which was significantly more current that a fork I found that Oakland was running.

[2015-10-30 22:30] #7 closed

[2015-10-30 22:32] afomi commented on #8
@hackajesse, the app is currently deployed to Heroku.

I'm curious what you had in mind and why Heroku would not be considered a permanent solution.

[2015-10-30 22:33] afomi commented on #1
@hackajesse, bump, as I think this may be done.

[2015-10-30 22:34] afomi commented on #8
no credits yet, unfortunately, but still poking around.

[2015-10-30 22:36] afomi commented on #14
no update here.

Looks like the app is sending mail directly.  An option like Mandrill or Sendgrid would be helpful, but it also introduces a 3rd party dependency.  Though, I'd opt for the service to save people-hours, in implementation.

[2015-10-30 22:38] afomi commented on #8
Current setup is $9/month for the db (that holds more than 10k records).  The app is in free dyno mode, so it can run for a max of 18hr/day.  Upgrading that would be another $7/month.

I agree that Azure and AWS costs would be cheaper in dollars.  My concern is the cost in people-time.  Definitely happy to explore and discuss further.

[2015-10-30 22:44] afomi commented on #8
:+1: Make sense. There's an issue for the charges here: https://github.com/sfbrigade/adopt-a-drain/issues/16

[2015-11-01 04:22] jasonlally commented on #17
Use PUC_Maximo_Asset_ID

[2015-11-01 20:20] afomi commented on #17
okay. I used `DPW_Node_ID` on initial import. I'll update the records

[2015-11-01 20:35] afomi commented on #17
The records have been updated in Production.

`PUC_Maximo_Asset_id`s are now the values for `Thing.city_id`'s.

[2015-11-01 20:35] #17 closed

[2015-11-01 20:36] afomi commented on #17
Thanks for clarifying @jasonlally!

Closing this issue.

[2015-11-01 20:38] afomi commented on #14
@hackajesse - can you source content about `how to clean a drain`?

[2015-11-01 20:52] afomi commented on #14
A `Reminder` object exists already.

This new notification will be separate. But I'm curious how Reminders are used, or how the Adopta admin would set or use these.

Also, who will be admin'ing Adopta over time? @sfbrigade/project-launch-core-team?

[2015-11-01 20:53] #20 closed

[2015-11-01 20:56] afomi commented on #22
@therebelrobot,

There is https://github.com/sfbrigade/adopt-a-drain/blob/production/app/mailers/thing_mailer.rb, which is capable sending a `reminder` now.  There doesn't appear to be an interface for this yet.

More on `Reminder` - https://github.com/sfbrigade/adopt-a-drain/issues/14#issuecomment-152862896

[2015-11-01 21:30] afomi commented on #14
https://github.com/sfbrigade/adopt-a-drain/pull/23

[2015-11-01 21:34] afomi commented on #8
@therebelrobot, I think the meta-topic of how to measure sustainability of an open project is *very* interesting. -- The people involved (skills, motivations, etc), the technology involved, prices, dependencies, etc.

@jszwedko and @sfbrigade/project-launch-core-team, Project Sustainability might be something to dive deeper into, and perhaps blog about as well.

[2015-11-01 21:55] afomi commented on #4
Hi @hackajesse, is there more to be done for this issue?
It looks like a number of issues are tagged `MVP` now :+1:

[2015-11-01 21:57] afomi commented on #3
@hackajesse, What is entailed in customizing the look and feel?

@therebelrobot updated the copy and related images early on.

Is this issue still open?

[2015-11-01 22:16] jszwedko commented on #8
I'm :+1: to keeping with Heroku -- AWS and Azure would definitely be cheaper, but not in terms of development time or maintenance (consider if the AWS instance falls over, e.g.).

[2015-11-02 15:52] hackajesse commented on #8
This is an interesting question, folks. I'm torn. On the one hand, we have these free credits. We choose not to use them because they are more of a hassle (I assume). Would that change if we became more familiar with them? 

On the other hand, heroku is max $16/mo for this project... Whih is basicaly nothing. If we get a contract from the city to maintain it (a real option!), we could build that i

[2015-11-02 18:52] hackajesse opened #25 "Coordinate domain purchasing/subdomains"
@jasonlally please coordinate with Jean and update this issue w/status

[2015-11-02 18:54] hackajesse opened #26 "Research and send legal liability stuff to Jean"
[] Copy legal from Oakland
[] Copy any legal I can find from SF programs
[] Send to Jean

[2015-11-02 18:56] hackajesse opened #27 "Confirm any date of a PSA from the Mayor"
This determines our deadline or whether we need to set up a separate announcement/PSA from the Mayor.

[2015-11-02 18:56] hackajesse opened #28 "Get existing outreach efforts regarding clearing drains"
From Jean

[2015-11-02 19:00] hackajesse commented on #14
@afomi creating content for this email. Will get approval from the PUC, but if there is an easy way for me to edit the content, I can give you a stub very quickly without needing approval.

+1 for 3rd party service. Mandrill/Mailchimp was pretty easy for me to use to edit stuff and still get good delivery reliability.

Happy to go with whatever y'all decide. Keep me posted on potential costs and I

[2015-11-02 19:02] hackajesse opened #29 "Teach Jean Walsh how to use Github so she can follow along / answer questions / approve"
@therebelrobot if I get her to come to a hack night, are you down? She's our POC at the PUC. :)

[2015-11-02 19:19] hackajesse commented on #4
@afomi this is really a reminder I assigned myself. I'll close once I finalize more specific issues.

[2015-11-02 19:19] hackajesse commented on #4
@afomi if there's a better practice for doing ^^, I'm happy to change methods. :)

[2015-11-02 19:21] hackajesse opened #30 "Get official logos (and confirm ability to use them)"
- [x] SF PUC
- [x] DPW
- [ ] Mayor's office
- [ ] ask Jean for others to be included

[2015-11-02 19:24] hackajesse opened #31 "Support small screens"
Need: on mobile, the sidebar is difficult to use. Can we redesign to make it easier on mobile?

[2015-11-02 19:26] hackajesse opened #32 "Clearly convey who users should contact if they can't clear their drain on the homepage"
311 app.
Where to put this in the app?
 - confirmation email
 - expectations on homepage

[2015-11-02 19:27] hackajesse opened #33 "Convey the City is not responsible (legally)"
Likely in a modal w/the Ts & Cs.

[2015-11-02 19:38] hackajesse commented on #22
@therebelrobot,
Notifications would be good to be sent all at once based on a single trigger (i.e. a storm event from [this data](http://waterdata.usgs.gov/nwis/sw) or, more specifically, [this data](http://waterdata.usgs.gov/nwis/rt) I think).

[Here is the info on automated retrieval](http://help.waterdata.usgs.gov/faq/automated-retrievals)

If I read your questions correctly, I don't think we n

[2015-11-02 19:41] hackajesse opened #34 "Make it clear people know what they're committing to when adopting"
Could be as simple as editing the modal or as complex as a landing page. Will definitely require multiple versions.

[2015-11-02 19:45] hackajesse opened #35 "Content for how to care for the drain"

[2015-11-02 19:49] hackajesse commented on #2
Per @jasonlally, this is completed. Creating new issue to add documentation.

[2015-11-02 19:49] #2 closed

[2015-11-02 19:50] hackajesse opened #36 "Set alert frequency / methods for users"
Method: Email, SMS
Frequency: upon signup, few days before a storm, day of the storm, confirmation that things are clean(?)

[2015-11-02 19:51] hackajesse opened #37 "Add documentation to opendata portal for PUC catchment basin dataset"

[2015-11-02 19:53] hackajesse opened #38 "Difference between two types of drains?"
- [x] Does the data differentiate between the two types of drains? (@jasonlally @afomi )
- [x] If it does, create issue to design different icons, legend, and write copy explaining the difference (@jasonlally)

[2015-11-02 19:55] hackajesse opened #39 "Are there drains outside this system managed/owned by another department/org?"
Ask Jean to ask John Seagrave

[2015-11-02 19:57] hackajesse opened #40 "If drains aren't adoptable, say why"
For example, if the SFPUC or another org owns/manages a drain, that drain should be claimed (either manually or permanently or something) by that org. Convey that clearly to the public when wanting to adopt a drain.

[2015-11-02 19:59] hackajesse opened #41 "Make it easy for a person to contact 311 from their app"
for drains that they can't clear or that they see need clearing or an already flooded area.

[2015-11-02 20:01] hackajesse opened #42 "Denote "wetspots" that are extra prone to flooding"
Highlight those areas on the map
Emphasize the need for folks to adopt those drains first

[2015-11-02 20:02] hackajesse opened #43 "Differentiate colors btwn drains "adopted" and "adopted by you""
They're too close (green vs blue)
Related to accessibility (color blindness??)

[2015-11-02 20:04] hackajesse opened #44 "Make app accessible"
Have James Tyack go through it. Idk his github, but he's often at hacknight. I'm sure he'd be game to go through this and/or make suggestions for things we can look out for.

[2015-11-02 20:09] hackajesse commented on #19
Keyboard should really only appear when typing in the fields. It currently appears when the page is touched at all.
If already showing (because someone clicked in a field), should not disappear when someone clicks a radio button in the sidebar.
If not already showing (because no one clicked in a field), should not appear when someone clicks a radio button in the sidebar.
For the above two, basical

[2015-11-02 20:10] hackajesse opened #45 "Adopters can confirm their drain is cleaned / log their work"
Via SMS or the app please (no email)? :)

[2015-11-02 20:13] hackajesse opened #46 "Post-storm email thanking folks for cleaning their drains"
V1: Thank people and say that we had X# new adoptions as a result of the app
V2 (post user confirmation they cleaned their drain): Thank people and share how many people cleaned their drains
VN (once we have data from DPW? on how much less flooding occurred during the most recent event when compared to other similar events w/out adoptadrain): Thank people, share how many people cleaned their drain

[2015-11-02 20:14] hackajesse opened #47 "Thank you gift for cleaning drains"
Likely needs the confirmation of a drain being cleared before implementation.
Also needs more PUC involvement / funding.

[2015-11-02 20:15] hackajesse opened #48 "Share how to get/access tools to clean the drain"
Once the PUC has tools available for lending, create a way for adopters to know how to access the tools.

[2015-11-02 20:18] afomi commented on #38
`name` is the meaningful attribute in the Drain dataset.

Here are the different types of Drain names in the dataset:

[code]

[2015-11-02 20:18] hackajesse commented on #3
Ref: #30 for logos
Also, this is more of a placeholder for me to create more specific issues related to look/feel. We can close since I've got another issue for that.

[2015-11-02 20:18] #3 closed

[2015-11-02 20:20] hackajesse commented on #38
@afomi thx for this - those are the names people have given to the drains, I believe, unless the table is joining names created by users and types of drains.
There are drains that drain to the ocean and drains that drain to the closed sewer system. I'm not sure whether the data differentiate or not.

[2015-11-02 20:21] hackajesse commented on #16
@afomi will you be at hacknight? We can take care of it on Wednesday. If not, slack me to coordinate.

[2015-11-02 20:22] afomi commented on #38
I'll have to revisit the dataset to see if this data is indicated.  If it is, there is not currently a place in `Adopta` to store it, so a heads up there.

[2015-11-02 20:22] #1 closed

[2015-11-02 20:23] afomi commented on #16
ya - happy to chat this Wednesday

[2015-11-02 20:23] hackajesse commented on #1
gracias, @afomi

[2015-11-02 20:28] afomi commented on #38
The source dataset does not indicate `Type of Drain`. What does `System_Use_Code` mean?

Here is a sample of the source CSV file:

[code]

[2015-11-02 20:34] hackajesse commented on #38
Will confirm w/PUC which data type would contain that info.

[2015-11-02 20:49] hackajesse commented on #12
@afomi,
Name field is nearly certain to be different from `Drain_Type` and it may make the most sense to differentiate in the db.
This may require:
* changing the database to have a separate `name` column that can be validated against the profanity db
* validation copy

Other stuff you'd suggest?

[2015-11-02 21:47] hackajesse commented on #14
[Email copy in Google Doc](https://docs.google.com/document/d/1ogprm41vY17Wj-rSjOds7UOJDQGtv6t4oiswYEDTtAg/edit)
Not ready yet (will update this comment when it is)

[2015-11-02 21:48] hackajesse opened #49 "Email thanking user for adopting ANOTHER drain"

[2015-11-02 21:49] hackajesse commented on #49
[Copy for the email in a Google Doc](https://docs.google.com/document/d/1mtugVFh8KFzTUtKCEm0RCdUpsX0enKdAR5aqWrI8fWo/edit)
Not ready yet - will update this comment when ready

[2015-11-02 21:55] hackajesse opened #50 "Tweet out when someone new adopts a drain"
[] Ask user for twitter handle
[] Tweet from the PUC handle 30 minutes after the adoption happens (so the user has time to name the drain).
[] Use this copy: TBD

[2015-11-02 21:59] hackajesse commented on #45
[Oakland's time tracking form](https://docs.google.com/forms/d/1UphXhPsn0BtVsquilDYnZDfcirO7xvt1sUnh-OoCj28/viewform?c=0&w=1)
There is also this [volunteer tracking app](https://www.trackitforward.com/) - note that it's paid

[2015-11-02 22:21] hackajesse opened #51 "Ask Jean about Adopt-a-Street Program"
http://sfdpw.org/index.aspx?page=1229

[2015-11-03 01:38] jasonlally opened #52 "Clean up and modernize UI scaffolding - bootstrap 2 -> 3"
I was looking at the UI scaffolding used to layout the map and sidebar and it's simple enough, but uses table and table-cell layouts in a manner that makes it hard to make this friendly on mobile.

Without knowing the exact direction yet, it's simple enough to modernize the layout so it's a bit more flexible and mobile-friendly and uses Bootstrap 3 and it's dependencies.

This is just house cleani

[2015-11-03 08:10] jszwedko commented on #52
We should contribute this sort of thing back upstream.

[2015-11-03 08:13] jszwedko commented on #6
@hackajesse can you provide more context here? I'm not sure I understand the intention.

[2015-11-03 08:15] jszwedko commented on #8
I'm definitely pro keeping it on Heroku for ease of use and maintenance -- getting the city to pay for it would be great, but I feel like we could also reach out to Heroku for a discount (or use the free credits).

[2015-11-03 08:19] jszwedko commented on #19
I think @hackajesse meant to say that the keyboard should not appear when the map is touched -- it looks like currently it focuses on the e-mail field and does appear when you drag the map.

It'd be nice to contribute this bug fix upstream.

[2015-11-03 08:26] jszwedko commented on #4
I think an issue to create new issues like this is fair -- as long as it has a defined end point which it feels like this does.

[2015-11-03 16:45] hackajesse commented on #8
@therebelrobot do we have free heroku credits? Without a contract, @jszwedko, I'm not sure I can get the city to pay for it yet unless it's on something they're familiar with.
@jasonlally can you comment since you've used Heroku in the city before?

[2015-11-03 16:47] hackajesse commented on #6
I guess this is really, "Create personas" for the project. Not an engineering issue.
How should I make it clearer when I'm creating an issue, but it's not related to engineering? I'm trying to use Github (and a lot of Zenhub features) to manage the project. I started using labels more religiously as a first attempt. Thoughts @jszwedko ?

[2015-11-04 06:26] jszwedko commented on #6
@hackajesse aaah! No worries, I think labels you have are good. I completely missed this was assigned to you which would have implied to me that it wasn't engineering related (at least yet) -- overall I think the process we have going on now is working pretty well.

[2015-11-06 05:12] jszwedko opened #54 "Change favicon to a drain"
favicon is currently a fire hydrant

[2015-11-10 03:50] jszwedko commented on #12
A separate field to store the type would probably be useful, but I'd argue that we should do that when needed to drive functionality (and just back populate) than worry about it now.

I feel like profanity filters never really help much (people just work around them if they really want to) -- a solution I think is more effective is to let people "report" bad content and then moderate that way (we

[2015-11-10 03:52] jszwedko commented on #16
@afomi assigning you since it looks like you are owning this, but let me know if not! Happy to help or take over.

[2015-11-10 18:19] jasonlally commented on #38
System_Use_Code will contain that distinction. I think this is interesting, but I would put making that distinction in the UI on the backburner and do that in the iteration after MVP.

[2015-11-12 17:55] jszwedko opened #56 "Remove phone number fields?"
Currently there is a field for both home and mobile phone number. Do we need/want to collect this information?

cc/ @hackajesse

[2015-11-16 16:28] jasonlally commented on #25
Still waiting on this.

[2015-11-16 22:43] hackajesse commented on #54
@jszwedko Created a [set of variable sized v1 favicons](https://drive.google.com/open?id=0BxEflvO_7MDIWndHWGdXNmc5VTQ)

[2015-11-17 00:27] hackajesse commented on #12
@jszwedko I'm partial to an initial filter given it's the City and they'll want some sort of basic control. That said, you're absolutely right about people going around it. Reporting would be a nice feature, but prob not for the MVP. Creating an issue to capture that feature.

[2015-11-17 00:28] hackajesse opened #57 "Report an offensive drain name"
Ref: #12

[2015-11-17 02:47] jszwedko commented on #12
@hackajesse thanks for the details, I'm :+1: to having the basic filter.

[2015-11-17 19:15] hackajesse commented on #27
Confirmed there is no date.

Quote from Jean Walsh:

Closing the issue - I'm sure something will come up later about announcing assuming the project goes well at all.

[2015-11-17 19:15] #27 closed

[2015-11-17 19:18] hackajesse commented on #28
Jean Walsh quote:

Closing this issue.

[2015-11-17 19:18] #28 closed

[2015-11-17 19:19] hackajesse commented on #51
Jean is finding out more information from DPW.

[2015-11-17 23:13] jasonlally commented on #8
Only used heroku for small projects on the free tier. Let me investigate some options a bit more.

[2015-11-17 23:18] jasonlally commented on #8
Are most of the costs being born because of the postgres database and then an additional $7/month to scale to an always on instance?

[2015-11-17 23:24] afomi commented on #8
yes, exactly. The DB upgrade (for more than 10k rows) + the always-on dyno.

On Tue, Nov 17, 2015 at 3:18 PM, Jason Lally <notifications@github.com>
wrote:

--
Ryan Wold
(707) 673-6722

[2015-11-19 05:51] jszwedko opened #58 "No error is displayed when you fail to login"
An error response is returned, but not displayed to the user.

[2015-11-19 07:14] jasonlally commented on #52
This issue is addressed by #53 so I'm going to close it. There are other things related to UI/UX we'll that this doesn't address, but those will be logged as separate issues.

[2015-11-19 07:14] #52 closed

[2015-11-19 22:11] afomi commented on #47
Cool idea :+1:

I'm curious about a documented process to support the rollout/implementation of this.

[2015-11-19 22:26] hackajesse commented on #31
#53

[2015-11-20 01:47] jasonlally opened #59 "Mobile phones zoom to input on focus"
Related to #19, there's an issue on mobile phones where they zoom in to make text bigger on form inputs. The simple solution to this is to set the text size on inputs at a big enough size to avoid the viewport zooming.

Also, javascript autofocuses to the input, I think it just makes sense to remove that interaction. I think people won't mind the extra click to search the map and it'll make the in

[2015-11-20 05:03] jszwedko commented on #31
@hackajesse did you mean to reopen this?

[2015-11-20 14:13] hackajesse commented on #31
@jszwedko - I did - the issue didn't seem fully addressed. Might be good to create a more specific one at this point to clarify the need, etc.

– 
Jesse Biroscak

jesse.biroscak@gmail.com

c. 415.439.3164

[Li] [Tw]

On Thu, Nov 19, 2015 at 9:03 PM, Jesse Szwedko <notifications@github.com>
wrote:

[2015-11-21 02:14] jasonlally commented on #37
I have someone reviewing documentation at the City

[2015-11-21 17:53] jasonlally commented on #38
Currently having someone review and update documentation of those categories. Related to #37

[2015-11-21 17:54] jasonlally commented on #38
The System Use Code is likely the type we want to use MS4 are the ones that go out to the bay, COMB and STORM go into the sewer system.

[2015-11-22 20:29] jszwedko commented on #59
Closed by #59, thanks again!

[2015-11-22 20:29] #59 closed

[2015-11-22 20:30] jszwedko commented on #56
Bump @jasonlally @hackajesse

[2015-11-22 20:42] jszwedko commented on #31
@hackajesse Gotcha, yeah it would be nice to have more specifics for other enhancements. This issue mentions the sidebar which I think is in good shape now.

Do you mind if I close this one and we can open issues for additional specific mobile enhancements?

[2015-11-22 20:42] jszwedko commented on #19
Addressed by #60

[2015-11-22 20:42] #19 closed

[2015-11-24 22:46] jasonlally opened #64 "Load a subset of drains"
Still working on documentation for drain_type, but at a high level, it appears that the following are the primary relevant ones:

Wetwell; Storm Water Inlet Drain; Area Drain, used in Mission Bay; Drain Box; Trench Drain; Catch Basin Drain; Drop Inlet

The balance of drain types are either on freeways (don't want folks adopting there), on tracks or otherwise inaccessible (MTA or Caltrans).

@afomi

[2015-11-24 23:19] jasonlally commented on #64
Actually, I'll check in before we do any work here, it might be only 2 or 3 of those remaining categories. I'm waiting on verification.

[2015-11-29 23:22] jasonlally commented on #43
This is being worked on by SFPUC graphics team

[2015-11-29 23:24] jasonlally commented on #31
Let's go ahead and close this now as we support small screens now. There will likely be some additional issues related to firming up that support, but those belong in their own set of issues.

[2015-11-29 23:24] #31 closed

[2015-11-29 23:28] jasonlally opened #65 "Edit text in modal popup so people can review what they're committing to (accentuate safety)"
Related to #34 we should add a very simple button at the top of sign up that people can click on to review what it means to adopt a drain.

We can wait until we have some approved copy to implement, but it'll just mimic the same pattern used for the Terms of Service link, so shouldn't be hard to implement.

Clearly convey who users should contact if they can't clear their drain on the homepage

[2015-12-02 18:31] jasonlally commented on #64
Ok, have clarification on categories. @afomi I can adjust the rake task for loading drains to only select the appropriate categories. I'll just push my changes to that branch, if that works?

I won't touch anything regarding the schema adjustments in #17, I'll just add the categories to the dataset query.

[2015-12-02 18:59] afomi commented on #64
Sounds good to me. We can chat more tonight.

On Wed, Dec 2, 2015 at 10:31 AM, Jason Lally <notifications@github.com>
wrote:

--
Ryan Wold
(707) 673-6722

[2015-12-02 21:34] jasonlally opened #66 "Incorporate link to PUC page about drains that go to the ocean/bay into the user interface"
Jean is going to look into creating copy about the difference between drains that go into the combined sewer system and those that drain to the bay or ocean.

This educational copy will live on the SFPUC website where they already have information about the system.

Once we have icons and make necessary changes (see #38) to surface those differences, we will link users to that copy (and link folks

[2015-12-02 21:35] jasonlally commented on #43
They are also working on a drain icon for both drains to ocean/bay and combined sewer per #38

[2015-12-02 21:38] jasonlally commented on #39
There are separate drains managed by Port, Jean is going to do some backgrounding to figure out who manages this data. We can possibly plan to roll these in later as it will be a pretty small subset of drains, so I don't think this has to be in the critical path for launch.

[2015-12-03 01:38] hackajesse commented on #66
@jasonlally @jwalshie I think...

– 
Jesse Biroscak

jesse.biroscak@gmail.com

c. 415.439.3164

[Li] [Tw]

On Wed, Dec 2, 2015 at 1:34 PM, Jason Lally <notifications@github.com>
wrote:

[2015-12-03 05:03] afomi opened #67 "Can't install on Windows"
spent an hour trying to get an ENV up on Windows 9, without luck

[2015-12-03 05:10] jszwedko commented on #67
I assume you mean Windows 10 :smile: -- unless I'm missing something. We _could_ solve this by keeping an up-to-date Vagrant image, I feel like I'd rather that than maintaining instructions for installing Ruby and Postgres on Windows.

[2015-12-03 06:57] afomi commented on #67
haha - yep. 10 - and ya, Vagrant is a good idea.  I'll also keep an eye out for good Windows instructions on getting Ruby and Postgres going (if there are any)

[2015-12-07 17:07] jasonlally opened #68 "Test email functionality"
Pending pull request #23 we want to test the functionality with the email copy edited by Jean.

[2015-12-07 17:10] jasonlally commented on #25
Subdomain exists and is pointing to the server, heroku needs to be configured.

@hackajesse should we do this now, or wait until launch?

[2015-12-07 17:11] jasonlally commented on #30
Have 2 of the above, we can implement them.

[2015-12-07 20:03] hackajesse commented on #30
@jasonlally great! For @jszwedko @therebelrobot or @afomi?

On Mon, Dec 7, 2015 at 9:11 AM -0800, "Jason Lally" <notifications@github.com> wrote:

Have 2 of the above, we can implement them.

—
Reply to this email directly or view it on GitHub.

[2015-12-07 20:03] hackajesse commented on #25
@jasonlally was there a determined launch date?

On Mon, Dec 7, 2015 at 9:10 AM -0800, "Jason Lally" <notifications@github.com> wrote:

Subdomain exists and is pointing to the server, heroku needs to be configured.

@hackajesse should we do this now, or wait until launch?

—
Reply to this email directly or view it on GitHub.

[2015-12-08 07:27] jszwedko commented on #68
Merged #23 and verified that I got an e-mail after adopting a drain that looked like:

[code]

[2015-12-08 16:25] afomi commented on #68
thanks @jszwedko :+1:

[2015-12-08 19:21] afomi commented on #25
what is the domain?

[2015-12-09 00:08] jasonlally commented on #30
@therebelrobot Here are PUC logos in horizontal and vertical in EPS format. Is that workable for you or do you want me to get these into their final web-ready format first?

[SFWPS-Vert-4c.eps](https://files.zenhub.io/5667702573e19ab8564a0b1f)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)
[SFWPS-Horz-4c.eps](https://files.zenhub.io/5667702573e19ab8564a0b20)
Uploaded using [**ZenHub.io**](ht

[2015-12-09 00:10] jasonlally commented on #64
Thanks @afomi this is addressed by #24 closing

[2015-12-09 00:10] #64 closed

[2015-12-09 00:16] jasonlally commented on #25
adoptadrain.sfwater.org

@hackajesse in terms of dates, we're aiming to wrap things before 12/14 for a presentation. Soft launch for subset of City users will be through December after or just before 12/14. For all purposes we should consider that the MVP and then fine-tuning, small adjustments through January.

[2015-12-09 00:22] afomi commented on #25
adoptadrainsf.herokuapp.com can now be `CNAME`d from adoptadrain.sfwater.org

[2015-12-09 00:43] jasonlally commented on #14
@sfbrigade/core-website-tools

I can get to this later tonight or tomorrow.

[2015-12-09 00:46] jasonlally commented on #22
Can we implement this initially as a simple human trigger?

I think we need an interface. In the absence of a robust interface can we use a url that triggers if you're logged in with a privileged account or something really simple.

[2015-12-09 00:53] afomi commented on #22
happy to chat through Use Cases, before designing the Feature

On Tue, Dec 8, 2015 at 4:46 PM, Jason Lally <notifications@github.com>
wrote:

--
Ryan Wold
(707) 673-6722

[2015-12-13 00:18] jszwedko commented on #14
@hackajesse Can you respond to Jean's questions regarding whether we should have 3 different e-mails? I went through and accepted all of her suggestions as it was difficult to see what the actual content would be without doing that.

[2015-12-13 00:42] jszwedko commented on #14
Created #70 with the current copy from the Google doc (with slight modifications because we send text e-mails, not HTML which I would prefer to keep doing until there is a compelling reason not to).

[2015-12-13 00:53] jszwedko commented on #25
Closing this now that we have the subdomain pointing to the app, thanks @afomi !

[2015-12-13 00:53] #25 closed

[2015-12-13 00:54] jszwedko commented on #68
Closing this since e-mails work thanks to @afomi and we already have another issue regarding the updated copy (#14).

[2015-12-13 00:54] #68 closed

[2015-12-13 00:55] jszwedko commented on #8
@hackajesse @jasonlally are we cool with sticking with Heroku? Can this issue be closed?

[2015-12-13 00:56] jszwedko commented on #6
@hackajesse any update on this? Just wondering if it should still be wrapped under the MVP label.

[2015-12-13 00:56] jszwedko commented on #11
Closed via #55

[2015-12-13 00:56] #11 closed

[2015-12-13 00:58] jszwedko commented on #16
@hackajesse @jasonlally @afomi any update on how we should proceed with paying for the service?

[2015-12-13 00:59] jszwedko commented on #26
@hackajesse any update on this? (Just trying to wrap all of the MVP issues before the soft launch -- feel free to remove it from the milestone if it isn't required for the MVP).

[2015-12-13 04:15] jszwedko commented on #30
Added SF Public Works logo in #71 -- are they any others that need to go in?

cc/ @jasonlally

[2015-12-13 04:16] jszwedko commented on #32
I think this is covered by #70 -- is there anywhere else this information should appear @hackajesse ?

[2015-12-13 04:16] jszwedko commented on #33
@hackajesse any update on this? Is it still required for the MVP?

[2015-12-13 04:17] jszwedko commented on #34
Some (or all?) of this is addressed by #70 -- is there anything to be done to push this forward @hackajesse ? Is it still relevant and required for the MVP?

[2015-12-13 04:18] jszwedko commented on #35
Some (or all?) of this is addressed by #70 -- is there anything to be done to push this forward @hackajesse ? Is it still relevant and required for the MVP?

[2015-12-13 04:19] jszwedko commented on #36
I feel like this isn't required for the MVP (also given our discussion that this would be an intentional process taken by an admin, at least for now). Safe to remove the label or close this issue @hackajesse ?

[2015-12-13 04:20] jszwedko commented on #51
@hackajesse any update on this? Is this issue still relevant?

[2015-12-13 04:40] jszwedko commented on #33
Just noticed we already have terms of service linked on the site courtesy of @jasonlally -- does that address this issue?

[2015-12-13 04:46] jszwedko commented on #44
@therebelrobot were you able to talk to James?

[2015-12-13 04:50] jszwedko commented on #22
Discussed with @jasonlally and @hackajesse offline after the last hack night. The consensus was that we'd start with just allowing admins to trigger emails. Specific use cases from @hackajesse @jasonlally would be needed to move forward on this though (we could even split each into its own story).

[2015-12-13 04:52] jszwedko commented on #29
@hackajesse I'd definitely say that one of us can help her if she swings by hack night.

[2015-12-13 04:54] jszwedko commented on #12
Closing this given that you can already name your drain when you adopt it. I'll open a new issue for filtering words.

[2015-12-13 04:54] #12 closed

[2015-12-13 04:55] jszwedko opened #73 "Filter profanity from drain names"
Use simple automated filters to filter profanity from the names that users give their drains.

See #12 for more context.

[2015-12-17 16:57] jasonlally commented on #8
I think we can close this. We've answered where it will live. Working on longer term solution to scaling/paying.

[2015-12-17 16:57] #8 closed

[2015-12-17 17:05] jasonlally commented on #38
We have assets for the two different drain types but no way to differentiate in the data model. We can let this be for the MVP and work on this in the next round if we want to close out this round.

@afomi What do you think of adding a things_extended (or similar) table to maintain the integrity of the core data model but allow some flexibility for us. This would be a 1:1 table that would just add

[2015-12-18 00:58] jasonlally opened #77 "Info window (thank you) not loading after adoption"
Getting a 500 error after adopting a drain.

![capture](https://cloud.githubusercontent.com/assets/534176/11886471/4240e482-a4df-11e5-97b7-1e16fbc3cb56.PNG)

The adoption is happening, just not returning the success message.

[2015-12-18 01:11] afomi commented on #38
Hi @jasonlally, I think that sounds complex :smile:

I'd opt to add columns to the `Things` table, especially since maintainability and reusability does not seem to be a primary concern.

I'm also curious as to what features differentiating the drain types enables for users. Or is it an admin concern?

[2015-12-18 01:18] jasonlally commented on #38
It's primarily to educate users on different drain types and to link campaigns for adoption of certain drains. There are drains that drain to the bay and ocean untreated and drains that drain to the combined sewer system.

I think it's a simple civic layer that engages people in understanding broader systems.

[2015-12-18 02:36] afomi commented on #38
cool. so ya, seems like creating another column to track the additional fields makes sense.
then, differentiating the type of drain in the UI

[2015-12-18 02:39] afomi commented on #38
Is there a dataset for the legend? I'm asking because I'm generally curious about how metadata is stored and published for open datasets. Implicitly, we can find unique `Drain Type` values, or explicitly, there may be a definition/lookup dataset somewhere.

[2015-12-18 05:16] jasonlally commented on #77
Trying to trace this issue. I get:

[code]

@jszwedko any insights here? I can't see anything in the history that changed so I'm perplexed as to why this would throw an error now.

[2015-12-18 05:46] jasonlally commented on #77
Nevermind, found it. Removed data sent to info_window. Fixing.

[2015-12-18 05:54] #77 closed

[2015-12-18 19:03] jasonlally opened #79 "Any logged in user can send a reminder to any other adopter"
I'm not sure if this was a "feature" on the original platform, but I'm going to consider a "bug"  We just want admins to be able to send reminders, not any registered user.

The simple fix here is to remove the button. Oakland doesn't have this feature.

![send_reminder](https://cloud.githubusercontent.com/assets/534176/11904721/e9dceb2c-a576-11e5-9dae-03b1e2e4724f.PNG)

[2015-12-18 19:05] jasonlally commented on #14
I got emails for first, second and third adoption. We'll want PUC to review copy, so not closing this out yet.

[2015-12-18 19:09] jasonlally commented on #38
There's no dataset for the legend per se. You can implicitly query against any column for unique records using Socrata's API query language SoQL: https://dev.socrata.com/docs/queries/

The current framework for publishing data about fields is lacking and is something we're looking into. In the meantime we're working with publishers to provide a data dictionary document, which while not programmati

[2015-12-18 19:10] jasonlally commented on #38
For now, we know the variable for drains to ocean or bay is MS4. All others go into the sewer system.

[2015-12-18 19:10] jasonlally commented on #43
This is now done.

[2015-12-18 19:10] #43 closed

[2015-12-18 19:14] jasonlally commented on #49
This is implemented by #70

[2015-12-18 19:14] #49 closed

[2015-12-18 19:16] jasonlally opened #80 "Jean review triggered emails"
#70 implemented adoption emails. Need to check with Jean about the content.

[2015-12-18 19:20] jasonlally commented on #35
Let's mark this complete, this shows up a couple of times in different ways, but now we need to add it to the UI, which is captured in #65

[2015-12-18 19:20] #35 closed

[2015-12-18 19:22] jasonlally commented on #14
Actually on second thought, I'm marking this complete and creating a new issue specifically to review the implementation #80

[2015-12-18 19:22] #14 closed

[2015-12-18 19:24] jasonlally commented on #5
There may be an opportunity here to reach out to early adopters for user feedback. I talked to @ondrae briefly about this. Not pressing right now, but we should think about how to incorporate with soft launch.

[2015-12-18 19:25] jasonlally commented on #56
Jean wants to remove these. Since they aren't required, we can just hide them in the interface.

[2015-12-18 21:14] ondrae commented on #5
@moniquebt also offered to help find volunteers to set up and do this user testing. When do you think you'd need the help ready by?

[2015-12-18 21:24] jszwedko commented on #79
Weird, I never noticed that button. I just sent you a reminder to test the bug.

[2015-12-18 22:03] afomi commented on #5
+ :100: to user testing.  I thought there was an effort to collaborate with or expand Oakland's Civic User Testing Group.

[2015-12-18 22:59] jasonlally opened #81 "Need better meta for social sharing"
Currently there's not a meta description for the site, so Facebook picks up the legal terms and conditions. Probably not the initial tone we want to set :wink:

![facebook](https://cloud.githubusercontent.com/assets/534176/11909157/dc65222c-a597-11e5-9ee2-efc2f95438b0.PNG)

[2015-12-19 15:30] jszwedko commented on #56
Closed by #82

[2015-12-19 15:30] #56 closed

[2015-12-19 15:30] jszwedko commented on #73
Closed by #74

[2015-12-19 15:30] #73 closed

[2015-12-19 15:31] jszwedko commented on #58
Closed by #72

[2015-12-19 15:31] #58 closed

[2015-12-19 15:32] jszwedko commented on #33
Closing since we have terms and conditions, but let me know if you meant something else @hackajesse

[2015-12-19 15:32] #33 closed

[2015-12-19 15:34] jszwedko commented on #4
@hackajesse are you still brainstorming issues? Can this be closed now?

[2015-12-19 15:59] jszwedko commented on #6
Also cc/ @jasonlally

[2015-12-19 16:00] jszwedko commented on #32
Also cc/ @jasonlally

[2015-12-19 16:00] jszwedko commented on #34
cc/ @jasonlally

[2015-12-19 16:01] jszwedko commented on #36
cc/ @jasonlally

[2015-12-19 16:02] jszwedko commented on #26
cc/ @jasonlally

[2015-12-19 16:56] jasonlally commented on #79
Yeah, I got an email. I think this may be the default for Adopt A Hydrant. Simple enough to remove. Maybe there's a way to leverage this though for admin users to send?

[2015-12-19 17:57] jasonlally commented on #6
I think this will happen as part of the rollout. I'm going to remove the flag but keep the issue open.

[2015-12-19 17:59] jasonlally commented on #32
This is covered by the email, but will also need to be incorporated into the UI as part of #65

[2015-12-19 18:00] jasonlally commented on #32
I updated the title of this one to make it more specific

[2015-12-19 18:03] jasonlally commented on #34
Still relevant, but maybe we consolidate this to #65 and just close this issue. This is somewhat duplicative. I'll close as a duplicate.

[2015-12-19 18:03] #34 closed

[2015-12-19 18:10] jasonlally commented on #26
Everything is to Jean, I think we're still waiting on review of the language.

[2015-12-21 01:32] hackajesse commented on #26
Same last I heard, too.

On Sat, Dec 19, 2015 at 10:10 AM -0800, "Jason Lally" <notifications@github.com> wrote:

Everything is to Jean, I think we're still waiting on review of the language.

—
Reply to this email directly or view it on GitHub.

[2015-12-21 01:34] hackajesse commented on #6
Would like to remove it from the MVP. This wod be a great exercise for the new Adopta team (whenever they coalesce).

On Sat, Dec 19, 2015 at 9:57 AM -0800, "Jason Lally" <notifications@github.com> wrote:

I think this will happen as part of the rollout. I'm going to remove the flag but keep the issue open.

—
Reply to this email directly or view it on GitHub.

[2015-12-21 01:35] hackajesse commented on #36
Would prefer to keep it open, but not attach to mvp.

On Sat, Dec 19, 2015 at 8:01 AM -0800, "Jesse Szwedko" <notifications@github.com> wrote:

cc/ @jasonlally

—
Reply to this email directly or view it on GitHub.

[2015-12-21 01:36] hackajesse commented on #4
Yup! Ok to close

On Sat, Dec 19, 2015 at 7:34 AM -0800, "Jesse Szwedko" <notifications@github.com> wrote:

@hackajesse are you still brainstorming issues? Can this be closed now?

—
Reply to this email directly or view it on GitHub.

[2015-12-21 17:20] jszwedko commented on #4
:clap: thanks!

[2015-12-21 17:20] #4 closed

[2015-12-21 17:25] jszwedko commented on #26
:+1: thanks for the update!

[2015-12-21 17:27] jszwedko commented on #30
SFPW and SFPUC logos have been added.

[2015-12-21 17:27] #30 closed

[2015-12-21 17:28] jszwedko commented on #32
:+1: makes sense

[2015-12-21 18:25] jszwedko commented on #81
@jasonlally had to make a couple of adjustments (you can see here https://github.com/sfbrigade/adopt-a-drain/compare/83927f6834de9c5e6aba437fb214431758e82329...sfbrigade:production) but this looks good now. Good catch!

[2015-12-21 18:25] #81 closed

[2015-12-21 18:26] jszwedko commented on #51
cc/ @jasonlally

[2015-12-21 18:27] jszwedko commented on #16
Bump @jasonlally @hackajesse

[2015-12-21 18:29] jszwedko commented on #22
@jasonlally @hackajesse I think this feature will require a bit of upfront design and use cases to make sure what is built satisfies the requirements. Would either of you be up for writing user stories here?

I think it is, but it'd be good to clarify if this is still required for the MVP.

[2015-12-22 17:50] jszwedko commented on #65
@jasonlally should this just use the same copy as the e-mail that is sent when the user adopts their first drain?

[2015-12-22 17:51] jszwedko commented on #32
Rolling this into #65

[2015-12-22 17:51] #32 closed

[2015-12-25 17:06] jasonlally commented on #22
Not required for MVP (removing the label), but I created this IFTTT recipe: https://ifttt.com/recipes/359668-send-me-a-reminder-to-check-on-my-adopted-drain-if-the-forecast-calls-for-rain

[2015-12-25 17:12] jasonlally commented on #79
Merged PR, closing

[2015-12-25 17:12] #79 closed

[2015-12-25 19:11] jasonlally commented on #16
I can take over payment as we wait...I have access to the application, can I just change over billing there?

[2015-12-25 19:15] jasonlally commented on #16
I think I need to have different permissions to pay for the application. @jszwedko do we need to transfer ownership?

[2015-12-25 19:28] afomi commented on #16
yes ownership will need to be transferred. to which email?
On Dec 25, 2015 11:15 AM, "Jason Lally" <notifications@github.com> wrote:

[2015-12-27 22:36] jszwedko commented on #65
Closed by #65

[2015-12-27 22:37] jszwedko commented on #51
Bump @jasonlally @hackajesse

[2015-12-27 22:40] jszwedko commented on #22
Nice! That seems like a cool intermediate step.

[2015-12-28 18:12] jasonlally opened #88 "Make it easier for users to know which drains they've adopted"
Aside from the icons, we likely need a quick way for users to access their adopted drains via a list or other simple mechanism. Given the 20,000+ drains this seems necessary to help users come back and "manage" their drain adoptions.

Based on email from Jean:
3)	Another tester forgot which drain she adopted and wanted to be able to search for it

[2015-12-28 18:49] jasonlally opened #89 "Update social media sharing copy"
Jean's modified the copy here: https://docs.google.com/document/d/1kE-h5abTWVZvG9HOt_o4Ipy9N8PJtQuKToboPbppdkw/edit

Just need to update.

[2015-12-28 18:51] jasonlally opened #90 "Update first email copy"
Jean's updates here: https://docs.google.com/document/d/1ogprm41vY17Wj-rSjOds7UOJDQGtv6t4oiswYEDTtAg/edit

[2015-12-28 18:55] jasonlally opened #91 "Change from: email to info@sfwater.org for automated emails"
@jszwedko is it as simple as just changing this:

[code]
in application_mailer.rb

I wasn't sure if there was something else that needed to happen to make this change.

[2015-12-28 19:07] jasonlally opened #92 "Pass a default thing name to the info window when user has not named the drain"
If the drain name is blank, then it looks like this:

![missing_name](https://cloud.githubusercontent.com/assets/534176/12023877/01d42b12-ad53-11e5-8f9b-e8d190607ffd.PNG)

We should just pass something using the thing name when we detect no thing name. For example: This drain has been adopted...

[2015-12-28 22:51] jszwedko commented on #91
@jasonlally yeah, that should be it -- I don't think we are doing anything fancier like publishing a SPF record for the domain.

[2015-12-28 22:54] jszwedko commented on #91
It looks like we are publishing one for `sfwater.org` though:

[code]

We may want to add `sendgrid.net` there (see https://sendgrid.com/docs/Glossary/spf.html) to reduce the probability it'll be gray listed or marked as spam.

[2015-12-29 02:14] jasonlally opened #93 "Fix reset password workflow"
Reset password is broken in a couple of (easily fixable) ways:

- [x] No visual feedback that a link was successfully sent. This is likely because the flash notice was removed for this, easy enough to put back in.
- [x] Wrong domain included in the link it's http://adoptadrain.org instead of our domain
- [x] Email subject just says "Reset Password Instructions" should be a bit more explicit that i

[2015-12-29 14:17] jszwedko commented on #88
This was something OpenOakland was interested in too.

[2015-12-30 17:08] jasonlally opened #94 "Update text for drain adoption guidelines"
Updated text here:

https://docs.google.com/document/d/1PVGZ-B-etARxIyMxNx0yMjtcNywIrIZlFVk-RS35C3s/edit#

[2016-01-04 02:42] jasonlally commented on #80
Jean reviewed these and submitted updates. Links to the updated content are in their related issue. Closing this.

[2016-01-04 04:58] jszwedko commented on #90
Closed by #95

[2016-01-04 04:58] jszwedko commented on #91
Closed by #95

[2016-01-04 04:58] #91 closed

[2016-01-04 04:59] jszwedko opened #97 "Create SPF record for sfwater.org"
Whitelist sendgrid as per https://sendgrid.com/docs/Glossary/spf.html to reduce probability it will wind up in spam.

[2016-01-04 05:00] jszwedko commented on #97
@jasonlally I think you'll need to handle this? Or at least coordinate handling.

[2016-01-04 06:59] jszwedko commented on #92
Addressed by #99

[2016-01-04 06:59] #92 closed

[2016-01-04 06:59] jszwedko commented on #89
Addressed by #96

[2016-01-04 07:00] jasonlally commented on #94
This is addressed by the PR

[2016-01-04 07:00] #94 closed

[2016-01-04 07:03] jasonlally commented on #16
@afomi, @jszwedko successfully transferred ownership to me. Billing should now come out of my account.

Thanks @jszwedko

Closing this.

[2016-01-04 07:03] #16 closed

[2016-01-04 07:08] jasonlally commented on #38
I think we pretty much have everything we need per Jesse's original comment (all represented by separate issues). The only thing we're missing is an issue to add the column and pass it with the object to the frontend. In the interest of clarity, I'm creating that issue now.

[2016-01-04 07:18] jasonlally opened #100 "Add storm_use_code to Things table and pass back to frontend"
I think all that needs to happen is to:

- [ ] Add storm_use_code to schema on Things table
- [ ] Populate storm_use_code from drains data

The `find_closest` method on the thing model already passes back all fields, so once this is done, it should be pretty straightforward to swap in the other icon (which is already designed) when we match MS4 to the storm_use_code per the discussion on #38

[2016-01-05 22:40] jasonlally commented on #26
This is done

[2016-01-05 22:40] #26 closed

[2016-01-05 22:46] jasonlally opened #102 "Configure google analytics"
Need to set up GA for the site, coordinating with PUC

[2016-01-06 02:00] jasonlally commented on #66
@jeanwalshie This is the issue related to creating copy on the PUC website that describes the difference between drains and the importance of caring for a drain that goes to the ocean/bay.

Once you have a link, add it to this thread and then we can add it as a link where folks can learn more when adopting those types of drains.

[2016-01-06 02:03] jasonlally commented on #100
@jszwedko @afomi - this one ends up actually being more important to the launch than I originally understood. Can we huddle on this tomorrow real quick? I think it should be straightforward. I haven't really touched rails migrations/schemas before, so I'd love your help here.

/cc @hackajesse

[2016-01-06 02:09] jasonlally opened #103 "Make location search available to users not logged in"
Based on some observations by @jeanwalshie users found it difficult and non-obvious to find drains near their work or home because search is currently only made available when logged in. And users first instinct isn't to create an account but to look for adoptable drains.

Given that the call to action to sign in isn't made until a user clicks on an available drain, I think it makes sense to make

[2016-01-06 02:13] jasonlally commented on #89
Have some minor updates in the copy above to website meta and the email. Reopening.

[2016-01-06 02:14] jasonlally commented on #102
Tracking ID: UA-53975719-4

[2016-01-06 02:15] jeanwalshie commented on #100
Thank you!!!!

Jean Marie Walsh
Communications Manager
San Francisco Public Utilities Commission
525 Golden Gate Ave. 12th Floor
(415) 554-3203
jwalsh@sfwater.org<mailto:jwalsh@sfwater.org>

From: Jason Lally [mailto:notifications@github.com]
Sent: Tuesday, January 05, 2016 6:03 PM
To: sfbrigade/adopt-a-drain
Subject: Re: [adopt-a-drain] Add storm_use_code to Things table and pass back to frontend

[2016-01-06 02:19] jasonlally opened #104 "Remove third automated email for when users adopt a drain"
Currently there are up to 3 emails that go out when the user adopts a drain. We need to remove the third one.

[2016-01-06 02:21] jasonlally opened #105 "Hide send reminder from admin"
We may want to leverage the send reminder button/infrastructure in the future, but to avoid accidental clicking, let's just hide the button from everyone for now.

[2016-01-06 02:24] jasonlally opened #106 "Add DataSF logo"
Need to add the "logo" for DataSF.

[2016-01-06 02:39] jasonlally commented on #102
Tracking code added to config vars

[2016-01-06 02:39] #102 closed

[2016-01-06 03:01] jeanwalshie commented on #66
http://sfwater.org/index.aspx?page=152

Check it out. I modified an existing page on our site with info about catch basins vs. storm drains. I'll continue to make edits to this page but the link will remain the same.

[2016-01-06 03:24] jszwedko commented on #100
@jasonlally sure thing, I'm happy to work on this tomorrow during hack night.

[2016-01-07 01:02] jasonlally commented on #66
Great! We'll add this link to the interface after we have #100 in place. I'll leave this issue open until we do so and update the issue title to reflect the updated task.

[2016-01-07 01:05] jasonlally commented on #66
Based on our conversation, I think the simplest thing to do will be to include the informational link on the info window for the ocean/bay drain types, in addition to indicating the drain types through the legend and on the map via the icon.

[2016-01-07 01:07] jasonlally opened #107 "Change screenshot on readme to our version of adopt a drain"
Currently it's a screen shot from the original Adopt a Hydrant

[2016-01-07 03:55] jeanwalshie opened #108 "test issue"
what if we did this, guys?

[2016-01-07 03:58] jeanwalshie commented on #108
that's a terrible idea.

[2016-01-07 04:04] jeanwalshie commented on #106
did we decide to replace the CfA logo with DataSF, or add DataSF?

[2016-01-07 04:07] jeanwalshie commented on #104
yes, please. :+1:

[2016-01-07 04:12] jeanwalshie commented on #108
this is done.

[2016-01-07 04:13] jeanwalshie commented on #108
this is done.

[2016-01-07 04:13] jeanwalshie commented on #108
i don't think this is done.

[2016-01-07 04:21] howdoicomputer opened #109 "Document how the app works for contributors"
Documenting application components like the `load_drains` rake task and how it is used to populate the database. At least, I think that's what it does. This would help contributors quickly onboard themselves and be able to contribute as well as help other brigades fork this application for their own changes.

I don't mind doing this.

[2016-01-07 04:26] jeanwalshie commented on #54
hey, the favicon is a yellow heart. didn't SFPUC submit a favicon that was in line with the green logo?

[2016-01-07 04:31] jeanwalshie commented on #51
hey hey, we added Adopt a Street language to the 2nd email, and Public Works added (or will add) info on Adopt a Drain to their page, so this issue should be resolved.

[2016-01-07 04:32] jeanwalshie commented on #51
oops, they haven't added the language yet so i'm re-opening this. i'll bug them about it.

[2016-01-07 04:38] jeanwalshie commented on #36
it sounds like we've set it up such that an email automatically goes out upon sign up for drains 1 and 2, but i'm still working on a system to send separate emails in advance of storms, after storms, etc.

[2016-01-07 06:11] jszwedko commented on #109
@howdoicomputer good call, I also realized this tonight and had pushed https://github.com/sfbrigade/adopt-a-drain/commit/482a54b331c062d402d7a235e82d9a6190bde047 . The docs could probably use a little more polishing around development though. Let me know what you think.

[2016-01-07 16:55] jasonlally opened #110 "Add something indicating we use zenhub to help manage issues"
I don't know where to put it, maybe just the Readme? But zenhub needs to be installed as a browser extension in order for the boards to be visible. This may help new folks get plugged into where things are.

![boards](https://cloud.githubusercontent.com/assets/534176/12176464/5ef4dd16-b51c-11e5-97c6-d3634a02b51c.PNG)

[2016-01-07 16:56] jasonlally commented on #110
Link here: https://www.zenhub.io/

[2016-01-07 16:59] jasonlally opened #111 "Add "alpha" banner to top of site"
Since we're softly launched but still working, we should maybe add a little banner at the top.

Something like:

This site is in ALPHA: We're just getting started. We'd love to get your feedback or your help with code.

[2016-01-07 18:29] howdoicomputer commented on #109
I was thinking that I would improve the wiki with architectural information on how the application functions.

So the [localizing the application wiki article](https://github.com/sfbrigade/adopt-a-drain/wiki/Localizing-the-adopt-a-platform-to-your-community) is very useful and was thinking about writing information that is moving down a similar line but more focused on how the code works internall

[2016-01-08 05:55] jszwedko commented on #109
@howdoicomputer I think that would be very useful work to make it easier for new developers to quickly ramp up and contribute. Thanks for starting this discussion!

[2016-01-08 05:58] jszwedko commented on #110
I would say README under the contributing section. I actually haven't been using zenhub, but I've been meaning to look at it.

Slightly related to #109

[2016-01-08 22:39] #108 closed

[2016-01-08 22:46] jeanwalshie commented on #65
One user didn’t find it obvious that the purple box was clickable (“click here to find out what it means to adopt”). She suggested linking to the “what it means to adopt” language/box in the pop up box that appears when someone clicks on a drain where it says “Sign in to adopt this drain.” Not sure if this is the best solution, or if this is even needed.

[2016-01-08 22:52] jeanwalshie commented on #93
Yes, agree that the reset password email is not clearly tied to Adopt a Drain SF. In addition to changing the subject line, I'd like to change the email copy to "Someone has requested a link to change your password for Adopt a Drain SF"

[2016-01-09 00:35] jeanwalshie commented on #5
update 1/8/15 we are currently doing user testing and adding issues as needed.

[2016-01-09 00:35] #5 closed

[2016-01-09 00:36] ondrae commented on #5
Let me know if you need help from Code for America.

Andrew Hyder
Developer Advocate :: 2013 Fellow
@hackyourcity <http://twitter.com/hackyourcity>

On Fri, Jan 8, 2016 at 4:35 PM, jeanwalshie <notifications@github.com>
wrote:

[2016-01-09 00:37] jeanwalshie commented on #6
hi all, just wondering what you mean by "create personas" and identify users.

[2016-01-09 00:40] jeanwalshie commented on #29
haha, done! :)

[2016-01-09 00:44] #29 closed

[2016-01-09 00:45] jeanwalshie commented on #40
i think all the drains we show are adoptable.

[2016-01-09 00:48] jeanwalshie commented on #44
i know we took colors/shapes into account when creating the icons (to make them distinguishable for the colorblind) but yes, we should think about this. http://www6.sfgov.org/index.aspx?page=73

[2016-01-09 00:57] jeanwalshie commented on #45
i like this! i know you don't want it via email @hackajesse but the simplest thing could be to create a tracking form like the one above and email them the link periodically/when we send a storm reminder/end of rainy season, etc.
Maybe the tracking form link could be included in the pop up box for "Adopted by You" drains, above the red "Abandon this Drain" box.

[2016-01-09 00:59] jeanwalshie commented on #88
yes!

[2016-01-09 01:21] jeanwalshie commented on #90
1) the hyperlink to Twitter at the bottom of the email is not working (http://twitter.com/sfwater)
2) there were spacing issues in the copy and other minor issues that i fixed in the Google doc.
I recommend that we replace the whole email with the current copy.

[2016-01-10 03:05] howdoicomputer commented on #110
For some of my projects I link to a contribution guide that sits in the wiki.

EX: https://github.com/codeforsanjose/codeforsanjose-backend/wiki/Contribution-Guide

[2016-01-11 06:04] jszwedko commented on #106
Do we have the logo for this? I wasn't able to find anything with a quick search.

[2016-01-11 06:07] jszwedko commented on #104
Closed by #112

[2016-01-11 06:07] #104 closed

[2016-01-11 06:24] jszwedko commented on #54
@jeanwalshie @jasonlally I never saw a favicon from the SFPUC, do one of you have it?

[2016-01-11 06:47] jszwedko commented on #106
cc @jeanwalshie @jasonlally

[2016-01-11 06:48] jszwedko commented on #51
Assigning to @jeanwalshie, let me know if you need anything from our end!

[2016-01-11 06:50] jszwedko commented on #110
:+1: to adding a contribution guide

[2016-01-11 07:01] jszwedko commented on #93
@jasonlally what e-mail address should this come from? Assuming `no-reply@sfwater.org`, but let me know if not.

[2016-01-11 07:24] jasonlally commented on #54
@jeanwalshie all I see in the files are the several logo options (horizontal and vertical) and 4 icons for the map.

[2016-01-11 17:59] jeanwalshie commented on #54
checking on this - stay tuned!

[2016-01-11 18:34] jeanwalshie commented on #93
that works for me, thanks.

[2016-01-11 18:35] jeanwalshie commented on #51
nothing needed on your end so i'm closing this, thanks!!

[2016-01-11 18:35] #51 closed

[2016-01-12 19:00] jasonlally commented on #106
I can add it.

[2016-01-13 04:01] #105 closed

[2016-01-13 04:02] jszwedko commented on #65
Added link to modal in #114

[2016-01-13 04:06] #100 closed

[2016-01-13 06:57] #89 closed

[2016-01-13 18:43] jeanwalshie commented on #41
:thumbsup:

[2016-01-13 21:43] jeanwalshie commented on #54
![adopt a drain favicon_16-x-16](https://cloud.githubusercontent.com/assets/15933453/12308711/98c14852-b9fb-11e5-8037-9ac6c77e3ee5.png)
![adopt a drain favicon-32-x-32](https://cloud.githubusercontent.com/assets/15933453/12308710/98c0b05e-b9fb-11e5-8a53-d0397a2b0f65.png)

[2016-01-13 21:44] jeanwalshie commented on #54
will these work? let me know if you need them in another format or something.

[2016-01-13 23:48] jeanwalshie commented on #66
let's please use this link instead:  http://sfwater.org/index.aspx?page=399

[2016-01-13 23:50] jeanwalshie commented on #66
we'll also need to add the storm drain icon to the legend. (i didn't see this specifically called out.)

[2016-01-13 23:54] jeanwalshie commented on #21
hi all, should feedback go to info@sfwater.org or code for sf?

[2016-01-14 00:00] jeanwalshie commented on #65
i notice that once a user is signed in the purple box disappears and so does the link in the pop up about what it means to adopt a drain. Is this a mistake? once a user is logged in there is no more information about what they are committing to... thoughts?

[2016-01-14 05:18] jszwedko commented on #65
That is intentional looking at the code, it's easy to add if we want it though -- it feels like a good thing. I'll open a new issue to track that.

[2016-01-14 05:20] jszwedko opened #117 "Show guidelines when logged in"
The following is shown when the user is not logged in, but is not once they login. We should show the guidelines in both cases.

![2016-01-13-211934_323x160_scrot](https://cloud.githubusercontent.com/assets/316880/12316436/6535c2c0-ba3b-11e5-8f9e-f874791fcf78.png)

[2016-01-14 05:20] jszwedko commented on #65
Opened #117, thanks for bringing this up @jeanwalshie !

[2016-01-14 05:22] jszwedko commented on #21
I'm open to either as long as someone would follow up to any mail sent to `info@sfwater.org` and create issues here for technical questions / problems.

[2016-01-14 05:23] jszwedko commented on #54
Nope, those are perfect!

[2016-01-14 05:26] jszwedko commented on #54
Updated favicon in #118, thanks for the assets!

[2016-01-14 18:03] jeanwalshie commented on #21
Thanks @jszwedko -- let's use info@sfwater.org. We have a team of folks responding to that email address and they will be sure to notify me, and I can pass along as appropriate.

[2016-01-15 07:29] jszwedko commented on #21
:+1: thanks for the clarification!

[2016-01-15 07:32] jszwedko commented on #66
@jasonlally reminder to push what you have when you have a moment. I can pick up from there.

[2016-01-16 22:31] jasonlally commented on #66
@jszwedko - sorry it took me so long, I pushed today #119

[2016-01-17 02:28] hackajesse commented on #6
@jeanwalshie this is really a way to help us differentiate between someone who is kinda flakey and someone who is dutiful, for example. A dutiful person will not need much in terms of reminders and will likely engage regularly. A flakey person might need consistent reminders to both clean and report (when that feature happens). How can we account for different types of people? By creating personas

[2016-01-17 02:29] hackajesse commented on #13
Write the copy for text message reminders (not urgent).
Max 140 characters (technically 160, but you never know...)

[2016-01-17 02:30] hackajesse commented on #40
@jeanwalshie close this issue if you feel it's addressed.

[2016-01-17 02:31] hackajesse commented on #50
Could be really fun for the next iteration. @jeanwalshie what do you think about this?

[2016-01-17 05:08] jszwedko commented on #90
@jeanwalshie thanks for the updates! I replaced the text with what is currently in the Google doc.

Note: we are currently sending plaintext e-mails (as opposed to HTML), so I had to modify the copy slightly to change:

where "report it to 311" was a hyperlink, to

I'd like to avoid sending HTML e-mails as getting them "right" so that they render properly in all clients can sometimes be a bit of a

[2016-01-17 05:09] jszwedko commented on #66
No worries! I'll take a look.

[2016-01-17 05:10] jszwedko commented on #44
Are there any actions to be taken for this issue? @jeanwalshie is there someone in the government that can review?

[2016-01-17 20:50] jasonlally commented on #38
This now addressed by #119

[2016-01-17 20:51] #38 closed

[2016-01-19 18:51] jasonlally commented on #90
Addressed by #120

[2016-01-19 18:51] #90 closed

[2016-01-19 18:52] jasonlally commented on #66
Addressed by #119

[2016-01-19 18:52] #66 closed

[2016-01-19 18:53] jasonlally commented on #93
Yes, no-reply@sfwater.org works

[2016-01-19 19:31] jeanwalshie commented on #44
let me look into it, thanks. stay tuned.

[2016-01-19 19:37] jeanwalshie commented on #50
yeah, totally. not sure how it would work though... how would we ask for twitter handle?

[2016-01-19 19:40] jeanwalshie commented on #46
i would actually lump this in with all pre-and post-storm emails to adopters, which will be handled by me, including: thanking, reporting back, warning of storms, asking for feedback, etc.

[2016-01-19 19:41] jeanwalshie commented on #40
thanks -- as a newbie on github i've been a little hesitant to close issues, merge issues, reassign things, etc. but OK! :)

[2016-01-19 19:41] #40 closed

[2016-01-19 19:49] jeanwalshie commented on #54
sorry, i'm still seeing the old yellow drain favicon, not the new green one...

[2016-01-19 19:55] jeanwalshie commented on #88
can this be an MVP item? i wonder if it's possible to have the user's adopted drains show up no matter  where/how zoomed in they are on the map. or would it be a search? "Find my drains"

[2016-01-19 21:00] jszwedko commented on #54
@jeanwalshie you will probably have to do a hard refresh in your browser to clear the cache. Please let me know if this does not fix the issue.

[2016-01-20 00:45] jeanwalshie commented on #54
@jszwedko  the correct icon is showing in explorer, but not chrome, for some reason. i cleared the cache and double checked with a colleague...

[2016-01-20 01:39] jszwedko commented on #54
I'm also using chrome -- you should be able to do a hard refresh via `ctrl-F5` on Windows or `cmd-F5` on OSX. Please let me know if this still doesn't resolve it.

[2016-01-20 01:50] jszwedko commented on #44
:+1: thanks!

[2016-01-21 01:25] jeanwalshie commented on #44
ok, it looks like we've done the best we can with this type of a webpage. the only thing we noticed is that the icons in the legend should be properly tagged with alt text, if possible.

[2016-01-21 01:25] jeanwalshie commented on #54
it works!

[2016-01-21 01:25] #54 closed

[2016-01-21 01:28] jeanwalshie commented on #21
i've sent a few test emails to the current address adoptadrain@codeforsanfrancisco.org and no one has replied :) . i think this is important so i added the mvp label.

[2016-01-21 04:08] jszwedko commented on #21
:+1: agreed! I'm not sure who owns that e-mail.

[2016-01-21 04:15] jszwedko commented on #54
Woo! :+1:

[2016-01-21 04:16] jszwedko commented on #44
:+1: I can add that text.

[2016-01-21 04:43] jszwedko commented on #44
@jeanwalshie added the alt text in #123 -- let me know what you think!

[2016-01-21 04:46] jszwedko commented on #88
@jeanwalshie what do you think about including the list of drains in-between the `Find Drains` and `Edit Profile` buttons on:
![2016-01-20-204437_316x250_scrot](https://cloud.githubusercontent.com/assets/316880/12471873/c0db1aa0-bfb6-11e5-922c-84ae7c83598e.png)

I think we can probably do this as MVP if we keep the UI simple (just the list of drains and you can click to zoom the map to the locatio

[2016-01-21 05:07] jszwedko commented on #97
@jeanwalshie this may be something that you can help with as well -- it'll need to be handled by the owners of adoptadrain.sfwater.org.

Basically we want to add sendgrid to the whitelist of domains that can send e-mail on adoptadrain.sfwater.org's behalf to help reduce the likelihood that e-mails from the domain will be marked as spam.

[2016-01-21 05:36] jszwedko commented on #107
Fixed by #125 and #126, thanks @kylefantastic !

[2016-01-21 05:36] #107 closed

[2016-01-21 22:04] jeanwalshie commented on #97
yes, checking with our IT staff on this. stay tuned.

[2016-01-21 22:06] jeanwalshie commented on #88
sure @jszwedko, like a button that says, "Find my drains", perhaps using the orange icon color?

[2016-01-21 22:23] jeanwalshie commented on #46
i'm going to close this because i know how to go into the admin site and download contact info, and i will send emails as appropriate.

[2016-01-21 22:23] #46 closed

[2016-01-21 22:33] jeanwalshie commented on #106
@jasonlally @hackajesse a related idea: someone suggested that we include information about how this was developed and how people can do something similar in their own city. the logos go to our agency pages, where one could potentially piece it all together, but there's nothing about this particular app and how it came to be. thoughts?

[2016-01-21 23:42] jeanwalshie opened #127 "Make slight edits to legend"
minor thing: how would folks feel about removing the words "Available" in the legend so it just says "Drains to Sewer" and "Drains to Ocean/Bay"? I feel it looks cleaner/tighter that way and the fact that the drains are available is obvious.

![image](https://cloud.githubusercontent.com/assets/15933453/12498095/d5fda788-c054-11e5-879a-edab80fe1522.png)

[2016-01-22 04:38] jszwedko commented on #127
Agreed! See #128

[2016-01-22 04:48] jszwedko commented on #106
Good idea! I think that is out of scope of this issue though, I'll create a separate one to discuss it.

[2016-01-22 04:50] jszwedko opened #129 "Create a page describing the implementation of the project"
Spawned from #106

From @jeanwalshie:

[2016-01-22 04:52] jszwedko commented on #129
Code for America has some info related to this via https://www.codeforamerica.org/products/adopt-a-hydrant/ and https://github.com/codeforamerica/adopt-a-hydrant, but could probably use more info about redeploying it. We could either help them update it and point people there, or host this information ourselves (probably in the [README](https://github.com/sfbrigade/adopt-a-drain/blob/production/RE

[2016-01-22 04:53] jszwedko commented on #46
:+1: that is a good workaround until something is able to be added into the project.

[2016-01-22 04:56] jszwedko commented on #88
@jeanwalshie I was thinking about just listing them out right there, so it'd be something like:

[code]

What do you think of that?

[2016-01-27 18:20] #127 closed

[2016-01-27 18:20] #21 closed

[2016-01-27 18:53] jeanwalshie commented on #88
thanks, @jszwedko -- it sounds good but i think i'd need to see it to fully understand. there wouldn't be a button, just a listing of links to each drain location? i wonder if that would take up too much real estate if folks had adopted several drains? either way, i'd love to try it!

[2016-01-27 18:56] jeanwalshie commented on #44
@jszwedko -- i don't see the alt text on my icons in chrome. sorry, i'm sure it's something on my end. if they're there we can close this!

[2016-01-27 18:57] jeanwalshie commented on #21
thanks!!!

[2016-01-27 18:57] jeanwalshie commented on #127
looks great, thanks! @jasonlally @jszwedko

[2016-01-28 03:34] jszwedko commented on #44
@jeanwalshie I think you are thinking about title text (which is the text that shows up when you hover over a picture with your mouse to provide more details), but for accessibility you set a different attribute, alt text, which screen readers pick up and read in place of the picture.

If you like, I can add title text too with the same content as the alt text.

Thanks!

[2016-01-28 03:40] jszwedko commented on #88
I was thinking a list of links -- my thought is that users would probably adopt a small enough subset of drains (say <10) that it wouldn't be too much of an issue, but it would be able to scroll, of course. Basically it would push the "edit profile" and "sign out" buttons lower which probably see very little interaction anyway.

I can take a stab and send a screenshot of what I'm thinking.

[2016-01-28 04:50] jszwedko commented on #44
Added title text in https://github.com/sfbrigade/adopt-a-drain/commit/0a879601eed764750e78921247397171dd41fa96 -- it'll need to be merged before publicly visible.

[2016-01-29 00:42] jeanwalshie commented on #44
thanks @jszwedko --sorry, i didn't know the diff between alt text and title text! thanks for doing this.

[2016-01-29 00:43] jeanwalshie commented on #88
@jszwedko that sounds great. you're right, i certainly hope people don't adopt more than a few drains!

[2016-01-29 00:55] jeanwalshie commented on #65
hi all, i reopened this because we got feedback that the safety message needed to be more prominent. the revised text is [here](https://docs.google.com/document/d/1PVGZ-B-etARxIyMxNx0yMjtcNywIrIZlFVk-RS35C3s/edit).

[2016-01-29 01:32] jeanwalshie commented on #80
hi all, i'm reopening this because i made slight changes to the [1st email copy ](https://docs.google.com/document/d/1ogprm41vY17Wj-rSjOds7UOJDQGtv6t4oiswYEDTtAg/edit)to accentuate the safety message, per staff request. sorry and thank you!!!

[2016-01-30 03:32] jszwedko commented on #80
Updated in #131 -- note that we are still using plain text e-mails so things like bold text, italics, and links aren't possible.

Let me know if it looks good!

[2016-01-30 03:42] jszwedko commented on #65
Updated in #132, now looks like:

![2016-01-29-194248_1012x707_scrot](https://cloud.githubusercontent.com/assets/316880/12693505/7dcfdd3e-c6c0-11e5-98ed-1844b5c7bddf.png)

[2016-01-30 03:43] jszwedko commented on #44
No worries! Closing as the pull request was merged.

[2016-01-30 03:43] #44 closed

[2016-01-30 05:04] jszwedko commented on #65
Didn't see #130 before I created mine, merged #130 so this should be good

[2016-01-30 05:04] jszwedko commented on #65
@jeanwalshie feel free to close this if it looks good to you now!

[2016-02-02 02:45] jasonlally commented on #80
@jeanwalshie The copy looked right to me...look okay to you?

[2016-02-02 02:47] #117 closed

[2016-02-02 06:13] jszwedko commented on #106
Bump @jasonlally :)

[2016-02-02 22:30] #93 closed

[2016-02-03 15:29] jeanwalshie commented on #80
@jasonlally @jszwedko looks great! sorry, i forgot about the HTML/plain text issue. thanks!!

[2016-02-03 15:34] jeanwalshie commented on #65
@jszwedko this looks great, but now i'm thinking we should add this legal text at the end from the other copy just to be safe (and consistent):
"Remember, the City and County of San Francisco won't be held responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!"
(Sorry i didn't catch this earlier!)

[2016-02-04 02:47] howdoicomputer commented on #67
I am working off of a Windows 10 machine and recently submitted a PR that added the `tzinfo` gem for Windows support.

I'm writing code and everything is working properly.

[2016-02-04 03:44] jszwedko commented on #67
@howdoicomputer good to hear :) I think some of the confusion for this issue was around running Postgres and Ruby on Windows, but I may be misremembering. We could add some links to other documents for how to do that though.

[2016-02-04 04:09] jszwedko commented on #80
No worries! We can definitely switch to HTML e-mails since it seems like there is more of a need for them now (additional styling), but let's get these changes in first.

[2016-02-04 04:11] jszwedko opened #138 "Switch to HTML e-mails and use current copy"
Now that we have more of a need (additional styling and links).

First e-mail: https://docs.google.com/document/d/1ogprm41vY17Wj-rSjOds7UOJDQGtv6t4oiswYEDTtAg/edit

Second e-mail: https://docs.google.com/document/d/1mtugVFh8KFzTUtKCEm0RCdUpsX0enKdAR5aqWrI8fWo/edit

[2016-02-04 04:11] jszwedko commented on #80
Closed via #131

Opened #138 to switch to HTML e-mails.

[2016-02-04 04:11] #80 closed

[2016-02-04 05:02] jszwedko commented on #65
@jeanwalshie no worries! Added in #139, looks like:

![2016-02-03-210200_881x608_scrot](https://cloud.githubusercontent.com/assets/316880/12806284/658036aa-cab9-11e5-8dbe-e64987c035dc.png)

[2016-02-04 05:29] jszwedko commented on #88
Closed by #135

[2016-02-04 19:27] howdoicomputer commented on #67
Windows development is always tricky for languages that require C extensions. I'll write a guide somewhere but potential Windows developers would need to install Ruby 2.X, install Ruby DevKit, install Postgres, and then follow the documentation for DevKit so that gems like `json` can have their C extensions compiled correctly.

I also found that there [is a bug](https://github.com/codahale/bcrypt-

[2016-02-04 23:06] howdoicomputer commented on #67
Alright, I went ahead and wrote a lengthy guide in the wiki for setting this up on Windows.

https://github.com/sfbrigade/adopt-a-drain/wiki/Windows-Development-Environment

Is this issue ready for closing?

[2016-02-05 00:55] howdoicomputer commented on #57
As a note, the Thing model has its name attribute guarded by the [obscenity gem](https://github.com/tjackiw/obscenity).

See: https://github.com/sfbrigade/adopt-a-drain/blob/production/app/models/thing.rb#L14

[2016-02-05 04:37] jszwedko commented on #67
Indeed it is, these instructions are great!

[2016-02-05 04:37] #67 closed

[2016-02-05 07:16] howdoicomputer commented on #129
Ah, reminds me of https://github.com/sfbrigade/adopt-a-drain/issues/109

Which I've still not gotten to! Man, this application really screams for multi-tenancy where we just have a pre-processor per data source/noun. Anyway, I can probably cover this when I address #109 - it'll take me several hours  to go through the entire code base and get it written up to the point where I'd be satisfied.

How

[2016-02-05 23:51] j6design opened #141 "Main page lack structure (Accessibility)"
Main page lack structure
	Add a main heading (h1)

[2016-02-05 23:52] j6design opened #142 "Get rid of "Click" (A11y)"
Change "Click to learn what this means." to "Learn more about adopting a Drain" and make it the link.

[2016-02-05 23:52] jeanwalshie commented on #65
Awesome @jszwedko thank you! This looks great, but I don't see the language in the app...?

[2016-02-05 23:53] j6design opened #143 "Indicate required fields rather than optional"

[2016-02-05 23:53] j6design opened #144 "Modal dialog is not accessible (A11y)"
Modal dialog is not accessible ( see https://github.com/gdkraus/accessible-modal-dialog to make accessible)
	1. Modal should have only one close

[2016-02-05 23:54] jeanwalshie commented on #142
I like that idea @j6design. But with the word "drain" uncapitalized. :)

[2016-02-05 23:55] jeanwalshie commented on #143
@j6design I like that idea, too!

[2016-02-06 00:02] j6design opened #145 "Can't tab to map (A11y)"
Can't tab into map - maybe a non-issues if none of the map items are links. This is main for keyboard users. Is it possible to list the drains.

[2016-02-06 00:03] j6design opened #146 "Alert/messaging (A11y)"
Alert user what to do next, add a heading and some instructions
Add alert or message when loging out

[2016-02-06 00:03] j6design opened #147 "Placeholder text (A11y)"
When return to address input box, screen reader is picking up the placeholder text instead of the value in the box

[2016-02-06 00:04] j6design opened #148 "After adopting, add link/instructions to what to do"

[2016-02-06 00:04] j6design opened #149 "When updating profile - error when no password entered"

[2016-02-06 00:05] jeanwalshie commented on #138
It looks like we are still using the old, outdated copy for the 2nd email (that says "you're a draintastic person!" The correct, current copy is in the links above.

[2016-02-06 00:06] j6design commented on #142
copy/paste got me :)

[2016-02-06 00:10] jeanwalshie commented on #88
hurray! thanks @jszwedko

[2016-02-06 00:16] jeanwalshie opened #150 "Encourage feedback and say the app is in "beta""
I'd like to state somewhere that the app is a work in progress and that we want user feedback. I think it might make sense to put this where it currently says "send feedback." We could change to something more peppy, like, "We want your feedback!" and add something about the app being in in beta testing phase (if that's actually what it's called) :)

[2016-02-06 00:24] jeanwalshie commented on #129
haha, you lost me, @howdoicomputer! my idea was to have some simple language for the average joe about how the app was developed in partnership with the Code for SF brigade and the City of SF, using open data and open source something or other. i can work with @jasonlally on this.

[2016-02-06 00:31] jeanwalshie commented on #88
Sorry -- one more thing! Can we make the font for the new "My drains" the same size and style as "Address/Neighborhood"? and left justify it? OR create a button (possibly orange to match the color or an adopted drain) and make the font the same as the "Find drains" font and keep it centered?

[2016-02-06 04:00] jszwedko commented on #65
@jeanwalshie I hadn't merged it yet since I wanted to see your thoughts first, but I'll push it through now!

[2016-02-06 04:03] jszwedko commented on #88
Closed by #135

[2016-02-06 04:04] jszwedko commented on #88
Oops, missed your last comment -- I'll update the styling.

[2016-02-06 04:12] jszwedko commented on #143
@j6design I think it was an intentional design decision to mark optional fields rather than required. cc/ @jasonlally

[2016-02-06 04:12] jszwedko commented on #150
Closing this as a duplicate of #111, but definitely agree!

[2016-02-06 04:12] #150 closed

[2016-02-06 04:22] jszwedko commented on #149
@j6design I think it is common to require the password when modifying a profile on a given site to avoid the possibility of someone making malicious edits on your behalf (particularly changing the e-mail address). I do see that there is an issue with processing of form errors where it redirects you though, I will address that.

[2016-02-06 04:24] jszwedko commented on #149
@j6design submitted PR (#152) to address the form submission issue -- let me know what you think about the password requirement -- I'd personally like to keep it, at the very least when the user is changing their e-mail address.

[2016-02-06 17:12] jeanwalshie commented on #111
yes, please!

[2016-02-06 17:14] jeanwalshie commented on #65
hurray, thanks!

[2016-02-06 17:14] #65 closed

[2016-02-06 19:17] jszwedko commented on #57
Yeah, we did add that simple filter, but I feel like the only real way to combat this sort of thing is crowdsourcing the offensive names as filters are easy to work around.

[2016-02-07 20:54] howdoicomputer commented on #57
Oh, yeah, for sure. I thought I would just put that in this thread for posterity.

[2016-02-07 21:01] howdoicomputer opened #153 "Clean up front-end code"
This could probably be broken up into multiple issues. The code that powers the front end is really monolithic and is primarily sourced from a ~900 line file.

Proposal:

For now? Tests. The code is rather verbose and could be refactored quite a bit. After tests are done, it  could be broken up into multiple files and then later loaded using a module loader like Webpack, Browserify, RequireJS, etc

[2016-02-07 21:26] jszwedko commented on #153
@howdoicomputer it could definitely use some refactoring :)

Rails asset pipeline allows for some modularization -- we could also take more advantage of UJS via `remote: true` forms and what-have-you to avoid the need to have JS binding to the forms and doing the AJAX submit.

You are correct that there don't appear to be any tests at that level. If we end up replacing the Javascript with Rails UJ

[2016-02-07 21:27] jszwedko commented on #57
True that :+1:

[2016-02-13 21:45] jszwedko commented on #88
Closed by #151

[2016-02-13 21:45] #88 closed

[2016-02-17 00:14] jeanwalshie commented on #88
gracias @jszwedko!

[2016-02-21 00:27] jszwedko commented on #149
Closing after in person discussion about the requirement of a password when changing account information.

[2016-02-21 00:27] #149 closed

[2016-02-22 17:58] jeanwalshie opened #154 "Enable users to rename drain"
one user misspelled her drain name and wanted to be able to go back and change it.

[2016-02-23 04:23] jszwedko commented on #154
:+1:

as a work around, you can give up the drain and then adopt it again.

[2016-02-26 01:09] jeanwalshie opened #155 "Yikes! Can't adopt a drain in Explorer"
when you click on a drain, nothing happens.

[2016-02-27 05:53] jasonlally commented on #97
I got confirmation that this was created.

[2016-02-27 05:53] #97 closed

[2016-02-27 23:00] jszwedko commented on #155
Hi @jeanwalshie! Can you provide more information including the version of Windows and the version of Internet Explorer where you saw this?

[2016-02-29 19:08] jeanwalshie commented on #155
sorry, @jswedko, of course. this was with IE Version 9 and Windows 7 Enterprise.

[2016-03-05 19:35] jszwedko commented on #155
Thanks for the additional detail! Should help me reproduce.

[2016-03-10 04:53] thfield opened #156 "idea for spreading the word"
When I went to college, the student groups would "chalk the quad" to get the word out about events, groups to join, etc.  Adopt-a-drain could use chalk at the drains themselves to raise awareness at the source (pun semi intended). Or ideally, a more semi-permanent method of marking the street.
SF has a thriving street art culture, there could be a way to leverage sticker- or stencil- artists in a

[2016-03-20 21:09] jszwedko commented on #156
Hi @thfield apologies for the delay, was on vacation last week -- I think this is a pretty cool idea.

CCing @jeanwalshie

[2016-03-20 22:57] judecalvillo opened #157 "Ideas for Increasing Adoption"
Here are a few more ideas for increasing adoption, and they're mostly in the form of cost-effective marketing programs.

* **Demand-based programs:**
  + Place and maintain prominent, persuasive buttons/links to Adopt-a-Drain on all city-owned web pages that rank highly for search terms like "report a flooded drain" (e.g. http://www.sf311.org/index.aspx?page=127, http://www.sfwater.org/index.aspx?

[2016-03-21 04:44] jszwedko commented on #155
Didn't mean to close this.

Apologies for the delay, was on vacation, but this should be addressed. Let me know if you still see this bug! Please close this issue if you do not.

[2016-03-21 17:53] jeanwalshie commented on #157
great ideas, @judecalvillo! i have a promo plan started and i'll add these ideas to it and circulate. thank you!

[2016-03-21 17:57] jeanwalshie commented on #156
what a great idea! "Adopt me!" i'll add this idea into the adopt-a-drain promo plan i'm creating and we can see if we can make it happen. thanks @thfield

[2016-03-21 17:59] jeanwalshie commented on #154
that's a good idea. :)

[2016-03-21 18:18] judecalvillo commented on #157
:) NP. Have a great day, @jeanwalshie. Ttys.

[2016-03-21 18:18] #157 closed

[2016-03-21 19:50] jeanwalshie commented on #155
thanks @jszwedko ! it's fixed!

[2016-03-21 19:50] #155 closed

[2016-03-21 19:52] jeanwalshie commented on #106
@jasonlally now would be a good time to add that DataSF logo cuz we're gonna start promoting this app! :)

[2016-03-21 20:17] jeanwalshie commented on #148
@j6design -- after adopting a drain the user receives an email with instructions. is that what you mean?

[2016-03-21 20:20] jeanwalshie commented on #111
@jasonlally @jszwedko - now would be a good time to add this messaging since we're going to start promoting! (will ease people's minds that the app is not a done deal and there is still room for improvement.)

[2016-03-21 20:23] jeanwalshie commented on #103
@jasonlally looks like this has been implemented, sort of. the drains now drop down when a user is not logged in, but there is no address search bar.

[2016-03-21 20:28] jeanwalshie commented on #22
@jasonlally where would this reminder link appear?

note that we are currently able to manually export user info and email users when heavy rains are forecast -- that works for me.

[2016-03-21 20:29] jeanwalshie commented on #37
@jasonlally this is done, right?

[2016-03-21 20:37] jeanwalshie commented on #45
i'd like to revive this discussion. tracking drain cleaning is quite important.
what if users had the option of logging activity in this window, say above the Abandon this Drain button? Not sure where the info would go...
![image](https://cloud.githubusercontent.com/assets/15933453/13933289/9f1ffefc-ef69-11e5-9597-beebbad0990b.png)

[2016-03-21 20:45] jeanwalshie commented on #41
This is another idea I'd love to move forward. It would be good for a user to be able to report a problem with their drain right from the app. Currently there are links to 311 in the purple "learn what it means to adopt" box -- but what if there were a button in the pop up window for an adopted drain that said, "Report a Problem" or something? Maybe the link could go directly here: http://crmproxy

[2016-03-21 20:50] jeanwalshie commented on #42
@jasonlally @hackajesse this is a good idea. if we were to do this, would we denote those areas on the map manually, or would you want to use some sort of GIS map data?

[2016-03-21 21:24] jeanwalshie opened #158 "In the Admin area, is there an easy way to see which drains a person has adopted?"
I see latitude and longitude. And a field called ID [Things] and City [Things] - but i'm not sure what these mean.

[2016-03-21 21:45] jeanwalshie opened #159 "Require separate entry of first and last name upon sign up (to facilitate data entry)"
in order to upload contact information of adopters into our email program the first and last name need to be separated. i can do this manually but i thought it might be good to set it up that way when users sign up. thoughts?

[2016-03-22 04:28] jszwedko commented on #159
Seems reasonable to me -- we'd have to deal with splitting existing users' names.

[2016-03-22 04:33] jszwedko commented on #158
@jeanwalshie if you are viewing a person, you can see the drains they've adopted listed at the bottom. The `City` field maps to the `PUC_Maximo_Asset_ID` from the original data set (minus the `N-` to make it numeric).

[2016-03-22 04:35] jszwedko commented on #42
I think the easiest way would be able to load some sort of GIS data containing the regions.

[2016-03-22 04:37] jszwedko commented on #41
It looks like 311 exposes an API that we could possibly use to post directly from the app: http://wiki.open311.org/San_Francisco/#SF_Open_311_API

[2016-03-22 04:38] jszwedko commented on #45
Agreed, this feature would need a lot of upfront discovery and design.

[2016-03-22 04:39] jszwedko commented on #22
I think the adhoc approach is definitely the best for now.

[2016-03-22 04:40] jszwedko commented on #103
I believe the drains have always appeared when not logged in. I think this issue is about adding adding the address search specifically.

[2016-03-22 04:41] jszwedko commented on #111
:+1:

[2016-03-22 23:14] jeanwalshie commented on #159
great, i'm hoping we can implement this! and by "we" i mean you guys :)

[2016-03-22 23:29] jeanwalshie commented on #158
thanks @jszwedko. i should have been more clear: i'm wanting to be able to see both the total number of drains that have been adopted as well as where they have been adopted, ie on the map.

[2016-03-22 23:35] jeanwalshie commented on #42
OK, i'll look into that!

[2016-03-23 00:22] jeanwalshie commented on #138
doesn't look like this has been done. also, i updated the copy for the **1st email **with a safety video, as requested by SFPUC management. hoping the most recent copy for both emails can be used!

[2016-03-23 00:24] jeanwalshie commented on #45
i'm going to create a new issue as a temporary fix for this.

[2016-03-23 00:26] jeanwalshie opened #160 "Create survey to capture info about drains cleaned, gather feedback, etc."
We can model it on Oakland's, but make ours a little shorter/simpler: https://docs.google.com/forms/d/1UphXhPsn0BtVsquilDYnZDfcirO7xvt1sUnh-OoCj28/viewform?c=0&w=1

The idea would be to include the survey link in the email we send to adopters.

In the future it would be nice for users to be able to log their work from the app, but this doesn't exist yet. referencing: https://github.com/sfbrigade/a

[2016-03-23 04:22] jszwedko commented on #160
Good idea :+1:

[2016-03-23 04:23] jszwedko commented on #138
:+1: this still needs to be addressed. I plan on spending some of Code for SF Hack Night tomorrow on this.

[2016-03-23 04:32] jszwedko commented on #158
Ah, gotcha, we can talk more about what that looks like to integrate into the site itself, but a simple workaround for now would be to export the adopted drains and load them into Excel (which has the ability to plot ion a map).

[2016-03-23 10:06] hackajesse commented on #41
Riverside has connected their 311 app I believe.

Feeling like we should user test a bit before building more stuff...
On Mar 21, 2016 9:37 PM, "Jesse Szwedko" <notifications@github.com> wrote:

[2016-03-23 18:08] j6design commented on #148
@jeanwalshie -- mainly an on-screen notification -- like "...check your email for detail instructions and use the map/form to explore a drain..."

[2016-03-24 03:36] jszwedko commented on #138
I adjusted the copy in the Google doc slightly:

to:

Where "the 311 app" is the link to the app. This is more in line with accessibility standards which say to shy away from using links with ambiguous text like "link" or "click here". See https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20160317/G91 for more.

[2016-03-24 03:52] thfield commented on #156
glad to help!

[2016-03-25 00:37] jeanwalshie opened #162 "Error in password reset language"
If a user makes a mistake resetting their password they get this message: "Password reset token is is invalid" (both makes no sense and has two is's).

Maybe it can say instead, "Password reset is invalid."

This came up for me when I tried to reset my password using an earlier password reset link (I requested a new password twice in a row and got two emails.)

Hope this makes sense!

[2016-03-25 00:44] jeanwalshie opened #163 "Box doesn't disappear when X is clicked"
In the blue box there is an X, which indicates that the box will go away when the X is clicked, but nothing happens.

![image](https://cloud.githubusercontent.com/assets/15933453/14035108/a2548504-f1e7-11e5-9603-956ddd6e2166.png)

Not a huge deal, but maybe can be fixed?

[2016-03-25 00:47] jeanwalshie commented on #138
@jszwedko I tried to find you last night at hack night, but you disappeared! Thanks so much for working on this.

the 2nd email is still using the **old** copy. 1st email (and HTML) looks good.

[2016-03-26 18:52] jszwedko commented on #138
Oh no! I must have been downstairs.

Is https://docs.google.com/document/d/1mtugVFh8KFzTUtKCEm0RCdUpsX0enKdAR5aqWrI8fWo/edit the correct document for the second e-mail? Note that I haven't merged the changes yet, so they aren't live (wasn't sure if you were looking at the pull request HTML directly, or at the e-mails the app is currently sending).

[2016-03-26 18:57] jszwedko commented on #138
I merged #161 so these changes'll be live now -- please let me know if they need any additional adjustments!

[2016-03-26 18:57] jszwedko commented on #138
Reopening so you can close after verification @jeanwalshie .

[2016-03-26 19:16] jszwedko commented on #162
Good catch, I'll update to say `Password reset link is invalid`.

[2016-03-26 20:00] jszwedko commented on #156
:+1: I'll close this since @jeanwalshie has added it for consideration to the promo plan. Thanks again @thfield

[2016-03-26 20:00] #156 closed

[2016-03-26 20:01] #163 closed

[2016-03-26 20:01] #111 closed

[2016-03-26 20:01] #162 closed

[2016-03-26 20:02] jszwedko commented on #111
Added text encouraging users to leave feedback, please re-open if either of you had something else in mind.

[2016-03-26 20:02] jszwedko commented on #162
Updated text!

[2016-03-26 20:02] jszwedko commented on #163
Good catch, just addressed this, thanks @jeanwalshie !

[2016-03-26 20:55] jszwedko commented on #159
Submitted #167 which will:

* Update the forms to have separate inputs for first and last name.
* Split existing users names into first and last on the first space (everything up to the first space will be the first name, the remainder will be the last name)
* I didn't make last name required because many of the existing users just put the first name in the existing field, please let me know if yo

[2016-03-26 21:11] jasonlally opened #168 "Redirect to https"
SSL cert is in place and DNS is updated to point at the right heroku endpoint. Just need to force https

@jszwedko - let me know if you need anything else

[2016-03-26 22:40] #168 closed

[2016-03-26 22:43] jszwedko commented on #168
http://adoptadrain.sfwater.org/ redirects to https://adoptadrain.sfwater.org/ now

[2016-03-28 19:25] jeanwalshie commented on #159
Thanks, Jesse! I agree last name should not be required.

[2016-03-28 19:44] jeanwalshie commented on #138
Thanks, @jszwedko!!! looks terrific. The only thing left is the subject line for email #2 - it's still the old one ("draintastic person" haha). Should be "Thanks for adopting another drain, [name]!" Once that's done we can close this one out!

[2016-03-28 19:46] jeanwalshie commented on #22
I'm fine closing this out if ppl agree.

[2016-03-28 19:51] jeanwalshie commented on #103
yep, i think you're right.

[2016-03-28 19:54] jeanwalshie commented on #48
i think we can build this into the copy somewhere (email when a person adopts, purple "what it means to adopt" box, follow-up email sent separately by SFPUC) once we have this in place. In the meantime there is the "Adopt a Street" program by Public Works, which we tell them about in email #2, that gives out tools. I'm fine closing this if y'all agree.

[2016-03-28 19:56] jeanwalshie commented on #41
@hackajesse yes, i agree. how do we make that happen? i've been testing like mad, but i don't really count since i'm too close to it.

[2016-03-28 20:02] jeanwalshie commented on #47
this could be managed by SFPUC and yes, we'd need confirmation that the drain has been cleared (vs. simply adopted), which hinges on the tracking element we've talked about in #45. we could easily send out a tracking survey via email to adopters and provide a "gift" for those who respond. could also hold some sort of recognition event and safety training...?

[2016-03-29 03:52] jszwedko commented on #48
:+1: I'm fine with closing this until a lending program exists.

[2016-03-29 03:53] jszwedko commented on #22
I'm :+1: on the ad hoc approach for the foreseeable future.

[2016-03-29 03:54] jszwedko commented on #138
Oops! MIssed the subject change -- I'll update now.

[2016-03-29 04:04] jszwedko commented on #138
The subject should be updated.

[2016-03-29 04:31] jszwedko commented on #159
Pushed up these changes, let me know what you think!

[2016-03-29 20:13] jeanwalshie commented on #159
looks great, thank you!! i'm gonna close this. yippee!

[2016-03-29 20:13] #159 closed

[2016-03-29 20:15] #48 closed

[2016-03-29 20:20] jeanwalshie commented on #138
awesome, thanks!!

[2016-03-29 20:20] #138 closed

[2016-03-29 21:14] jeanwalshie commented on #160
Here's a draft of a survey: https://www.surveymonkey.com/r/adoptadrainsf

[2016-03-29 23:50] jeanwalshie opened #170 "Conduct user testing"
hey hey, how can we get folks to test out this app? I've been peddling it around the SFPUC, but would be good to get more eyeballs on it.

[2016-03-30 03:31] jszwedko commented on #170
Good question, maybe @hackajesse has some ideas? :smile:

[2016-03-31 23:50] #22 closed

[2016-03-31 23:56] jeanwalshie commented on #143
i agree that it's looking a little busy/complicated to say: (visible to others, optional) (visible to others) (private)

i would vote for using the little red star (or another universal symbol) to denote mandatory fields and keeping the "private" vs. "visible to others" distinction.

[2016-04-02 04:13] jszwedko commented on #143
@jasonlally mentioned before that users are more likely to fill in if optional fields were marked rather than required. I don't have a strong opinion either way, it is an easy change, but it would be good to get consensus.

[2016-04-12 20:20] jeanwalshie commented on #106
i see the logo is up. looks like we can close this? @jasonlally

[2016-04-14 19:17] jasonlally commented on #106
Yep

[2016-04-14 19:17] #106 closed

[2016-04-14 19:20] jasonlally commented on #103
Yes, we need to expose the search bar to folks that aren't logged in. Before we do that, any possible issues with rate limits on the geocoder if someone sends a bunch of requests? I'm not certain, but the friction on the search may have been done purposefully to limit hitting the geocoder.

[2016-04-16 22:58] jszwedko commented on #103
That is a good note -- this may require adding functionality to rate limit end-user requests.

[2016-04-26 17:06] baraka101 opened #172 "INCLUDE OPENSTREETMAP LAYER"
hello , was thinking it will be good to include openstreetmap layer , since in other countries it holds more data and info, like Tanzania

[2016-04-27 04:44] jszwedko commented on #172
Hi @baraka101,

Agreed, it would be nice to be able to support both mapping formats. It would take a bit of work to decouple the Javascript from the Google maps API, but I'm happy to review a pull request for this if you have the interest and time.

Thanks for the report!

[2016-04-27 11:18] baraka101 commented on #172
ok sir , iam  working on this . hope you can give guide on best way

[2016-04-29 17:38] jszwedko commented on #172
@baraka101 I think you'll want to pull out the mapping pieces of Javascript into a separate module, add another module using OSM, exposing an interface that both implement and using it in the common JS code (that does things like adding the points to the map).

[2016-05-12 03:10] jszwedko opened #173 "Automatically refresh list of drains"
Currently the list of drains in Adopt-A-Drain is static. We would like to be able to refresh this either via:
- Automatically repolling the API (preferred)
- Create an admin page where an admin can trigger a refresh

See https://github.com/sfbrigade/adopt-a-drain/blob/production/lib/tasks/data.rake for how it currently loads the data. This is a rake task that can be run to update the data, but we'

[2016-05-25 00:19] jeanwalshie opened #174 "positive feedback!"
This is not an "issue" per se, just some positive feedback I wanted to share! :) @hackajesse @jszwedko @jasonlally

Dear SF Water Folks.

My family of four have typically cleaned the two drains in our neighborhood (which I signed up for tonight) at our corner for the past 25 years. I am glad you began this program as it involves people in our community and helps me teach my sons a sense of civic p

[2016-05-26 04:43] jszwedko commented on #174
Very cool, thank you for sharing @jeanwalshie !

[2016-05-31 18:10] jeanwalshie commented on #173
that's a great idea @jszwedko

[2016-05-31 18:22] jeanwalshie commented on #154
i'm going to close this.

[2016-05-31 18:22] #154 closed

[2016-06-02 20:02] jeanwalshie commented on #158
hey @jszwedko, following up on this. i'm not sure how to identify/export the adopted drains. what field am i looking for? also, this may be temporary, but i'm getting a message "We're sorry, but something went wrong." when trying to export drains...

[2016-06-02 20:03] jeanwalshie commented on #160
I'm going to close this one. I created a survey and will send to adopters and share the results with anyone who's interested!

[2016-06-02 20:03] #160 closed

[2016-06-05 19:26] jeanwalshie opened #175 "Create ability/filter to view adopted drains on map all at once"
This could be in the admin area or on the main page.

[2016-06-05 19:54] jeanwalshie opened #176 "Enable orgs to import a logo to appear by their adopted drain"
Just an idea, but this would be modeled on the "adopt a highway" program where signs are placed along the highway, giving credit to the org who takes care of the highway.

The idea would be to allow users to upload their company/organization's logo to appear when someone clicks on the drain.

[2016-06-05 19:58] judecalvillo commented on #176
:+1: Great idea!

[2016-06-10 16:47] jeanwalshie commented on #173
@jszwedko @jasonlally I wonder if we can pull the drain data into the app again, as we have new drains that users told us about (in the street but not previously in our records) and would like to reflect that in the app. :)

[2016-06-14 21:05] jeanwalshie commented on #170
i'm gonna close this because the app is live and we are getting feedback via email and a survey we sent out.

[2016-06-14 21:05] #170 closed

[2016-06-14 21:30] jeanwalshie opened #177 "Enable Admins to add other Admins"
and see who the other Admins are.

[2016-06-15 14:58] jszwedko commented on #177
@jeanwalshie you can actually already do this in the `Admin` section.

You should be able to see them at https://adoptadrain.sfwater.org/admin/user?model_name=user&utf8=%E2%9C%93&f%5Badmin%5D%5B26241%5D%5Bv%5D=true&query= but more generally you can filter users by many different filters on that page (the like has them filtered by `Admin=true`.

[2016-06-15 14:59] jszwedko commented on #177
To add a new admin, find their user in the users list (or have them register first if they haven't), and then click

![screen shot 2016-06-15 at 10 59 12 am](https://cloud.githubusercontent.com/assets/316880/16084867/465a654c-32e8-11e6-84d5-d72d1a690914.png)

[2016-06-28 05:16] jszwedko commented on #158
@jeanwalshie apologies for the delay -- lost track of this issue.

I can't remember if we talked about this before or after you left this comment (so apologies if this is redundant), but you can find drains that have been adopted via:

https://adoptadrain.sfwater.org/admin/thing?model_name=thing&utf8=%E2%9C%93&f%5Buser%5D%5B08380%5D%5Bo%5D=_not_null&f%5Buser%5D%5B08380%5D%5Bv%5D=&query=

(note the

[2016-06-28 05:18] jszwedko commented on #158
It looks like Heroku times out the request if you try to export all of the drains at once (since it caps the request time at 30 seconds), but you can easily export only the adopted drains.

I can look and see if there are any optimizations we can make to make it possible to export them all at once.

[2016-06-28 22:41] jeanwalshie commented on #158
got it! thanks. i was able to export only the adopted drains (269 so far!) and map them. FYI, they're pretty spread out around the city, which is cool.

[2016-06-28 22:42] #158 closed

[2016-06-28 22:49] jeanwalshie opened #178 "In the Admin area, change the word "Things" to "Drains""
just makes it a bit more intuitive and user-friendly!

[2016-07-05 03:47] #178 closed

[2016-07-05 03:49] jszwedko commented on #178
@jeanwalshie updated the label, let me know what you think!

[2016-07-06 23:36] jeanwalshie commented on #178
perfect, thank you @jszwedko!!!

[2016-07-06 23:44] jeanwalshie commented on #177
perfect, got it! sorry, i should have been able to figure this out myself. still familiarizing myself with the admin area. thank you, @jszwedko!!!

[2016-07-06 23:44] #177 closed

[2016-07-07 00:35] jeanwalshie commented on #174
just wanted to share that so far **212 people** have adopted **330 drains**. woo hoo!!!

[2016-07-07 00:41] jeanwalshie commented on #103
hi again, reviving this because we've gotten more user feedback: "once I signed up and logged in, there was the ability to search by address/neighborhood, but it would still be useful to have this ability BEFORE signing up to see where the drains are located/adoption is needed."

[2016-07-08 03:52] jszwedko commented on #174
Awesome! :trumpet:

[2016-07-09 00:15] jeanwalshie opened #180 "change copy on email people can send when they adopt a drain"
from: "The rains of El Niño are coming! So I just adopted one of San Francisco's 25,000+ storm drains and pledged to help keep it clear of leaves and debris this rainy season. You too can lend a hand and help the City avoid flooding at https://adoptadrain.sfwater.org/.

to: "I just adopted one of San Francisco's 25,000+ storm drains and pledged to help keep it clear of leaves and debris. You, too,

[2016-07-09 00:19] jeanwalshie opened #181 "Have Facebook and Twitter links open in a new window"
When someone adopts a drain a pop up window appears with icons that link to Facebook and Twitter. Would be better if they opened in a new window instead of driving users away from the page.

Same is true for the logos on the homepage: should open in an new window.

[2016-07-09 00:32] jeanwalshie opened #182 "Fix broken link in first email"
The link to Adopt-a-Street should be: http://www.sfpublicworks.org/get_involved/adopt-street-program

[2016-07-13 22:27] jszwedko commented on #181
Good idea! Addressed in #184

[2016-07-13 22:27] #181 closed

[2016-07-13 22:27] #180 closed

[2016-07-13 22:27] #182 closed

[2016-07-13 22:28] jszwedko commented on #182
Thanks for the new link! Updated the e-mail (though it was the second adoption email, not the first, unless I'm missing something).

[2016-07-13 22:28] jszwedko commented on #180
Good call, thanks for the new copy! Added in #185

[2016-07-14 01:11] jeanwalshie commented on #182
sorry, you're right! 2nd email. thank you!!!

[2016-07-14 01:12] jeanwalshie commented on #181
hurray!

[2016-07-14 01:14] jeanwalshie commented on #175
this can be done by exporting adopted drains to excel and then creating a map, so i'm a gonna close it.

[2016-07-14 01:14] #175 closed

[2016-07-14 01:16] jeanwalshie commented on #50
i'm gonna close this cuz when a drain adopter tweets that they've adopted a drain we (SFPUC) can retweet that.

[2016-07-14 01:16] #50 closed

[2016-07-14 01:19] jeanwalshie commented on #47
closing this because plans are in the works to provide safety vests, rakes, gloves, etc. to drain adopters in fall 2016. we have also sent a survey and will continue to do so, and to incentivize and reward drain adopters.

[2016-07-14 01:19] #47 closed

[2016-07-14 01:23] jeanwalshie commented on #6
i'm thinking we can close this since the app has launched, is developing into a full-scale SFPUC program, and has real users!

[2016-07-14 01:23] #6 closed

[2016-08-31 23:54] mnorelli opened #189 "Readme: "Create a topic branch" link broken"
Under the section _Submitting a pull request_, the link to "Create a topic branch" goes to:

http://learn.github.com/p/branching.html

This is what the Wayback Machine says it used to look like:

https://web.archive.org/web/20120315041836/http://learn.github.com/p/branching.html

The link in the readme is broken and doesn't resolve to anything useful.  Three possible choices for replacements are:

[2016-09-01 03:34] jszwedko commented on #189
Awesome, thanks for opening this @mnorelli. I also cast my vote for (B) -- it feels the closest in spirit to the original link.

[2016-09-13 16:51] jeanwalshie opened #190 "POST Adopt a Drain Background info"
hello all!

we at the SFPUC are getting lots of questions from other City agencies about the Adopt a Drain app and program - how it was developed, how much it cost, background, etc. I wrote up this language and i'm hoping someone can post the language somewhere on the page. perhaps it could link to the logo in the upper left corner? and/or maybe we can place a sentence at the bottom, under the log

[2016-09-20 22:41] jeanwalshie commented on #190
@jasonlally @hackajesse @jszwedko -- thoughts on this? we are planning a big cable TV advertising campaign this fall, and would love to get this text updated before then.

[2016-09-24 19:47] jszwedko commented on #190
@jeanwalshie yep! I can add that today.

[2016-09-24 21:04] jszwedko commented on #190
@jeanwalshie I added the content as a modal dialog and linked it from the footer and the header -- let me know what you think!

[2016-09-27 17:42] jeanwalshie commented on #190
@jszwedko thanks!  -- but i don't see it! :(

[2016-09-28 01:04] jszwedko commented on #190
@jeanwalshie I forgot we have a staging server :) -- do you want to verify it there before I push it up to production?. The URL is https://adoptadrainsf-staging.herokuapp.com/

[2016-09-28 01:24] jeanwalshie commented on #190
oh, i see, thanks!
ok, now i have a few more thoughts:
1) i dont think we need to say "We're just getting started!" What do you think about removing that line?
2) in the footer we now have "Learn more" and "send feedback". I'm thinking we should remove the "send feedback" link and instead add a line to the bottom of the "learn more" text that says
Contact
Email questions and feedback to info@sfwat

[2016-10-03 22:20] jeanwalshie commented on #190
@jszwedko @jasonlally hi guys! if i confused things i'm sorry. i think what you put up on the test site is fine for now -- my comments/ideas can be dealt with at a later date. i'd like to get this content up though.
thank you!

[2016-10-04 03:45] jszwedko commented on #190
Hi @jeanwalshie!

Apologies for the delay -- I started to make the revisions during the Code for SF hack night this past Wednesday, but didn't complete them (and was out of town this weekend).

My thoughts:

* I agree and removed the alpha text
* I think we should still leave the feedback link in the sidebar (to lower the barrier to giving feedback -- e.g. if I'm on the page and want to give feedb

[2016-10-04 19:51] jeanwalshie commented on #190
@jszwedko this is great, thank you!!! please publish.

[2016-10-04 20:00] jeanwalshie opened #192 "Post promo video (and logo question)"
We are finalizing some short 30-second videos to promote the adopt a drain program and would like to post or link to the video/s on the site.

The question is where and how? Post an actual video, maybe at the bottom by the logos, or a link to a YouTube page, possibly in the Learn More section?

I'm also wondering if we should be including the Code for America logo - they didn't actually work on or

[2016-10-04 20:40] jotasprout commented on #192
I would recommend embedding YouTube videos. I think it's the easiest and most reliable. If you have some text stating, "We'd like to thank CfA for their space," etc. near the logo, I think it's perfectly appropriate and cool.

[2016-10-05 03:02] jszwedko commented on #190
@jeanwalshie: published!

[2016-10-05 03:06] jszwedko commented on #192
@jeanwalshie awesome! Maybe we could embed one of them in the "Learn more" section and link to a Youtube playlist of the rest?

[2016-10-14 21:00] jeanwalshie commented on #192
@jszwedko @jotasprout ok, here are the videos! Maybe we should embed the 15 or 30 second one. would it be best in the "Learn More" section or right on the homepage in the bottom by the logos?  I think we can get rid of Code for America and give a shoutout to them in the Learn more section.

15 sec: https://youtu.be/OMykGwBc1eI

30 sec: https://youtu.be/Z1Vjrx3IAH0

Profile Mark: https://youtu.be/I

[2016-10-15 17:00] jotasprout commented on #192
@jeanwalshie @jszwedko I like the idea of embedding one and linking to the playlist. Want me to take this one? I'd like to.

[2016-10-15 18:52] jeanwalshie commented on #192
Yes pls on the embed! But hold off on the playlist- currently the vids are separate. I'm working on making a playlist. Thank you!!

Sent from my iPhone

On Oct 15, 2016, at 10:00 AM, Jota Sprout <notifications@github.com<mailto:notifications@github.com>> wrote:

@jeanwalshie<https://github.com/jeanwalshie> @jszwedko<https://github.com/jszwedko> I like the idea of embedding one and linking to the p

[2016-10-17 22:10] jeanwalshie commented on #192
@jotasprout @jszwedko here's the link to the youtube playlist: https://www.youtube.com/playlist?list=PLi3CgGqFmQsWOflGLenuFhG13Gc_SjgpG

the final MP4 files are here (for the embed): https://www.dropbox.com/sh/xr6wxk0xvnax5bj/AADm_2Wz289WF1fHBJGshT6Aa?dl=0

[2016-10-18 02:41] jotasprout commented on #192
I thought you wanted it embedded it using code from YouTube like so:
![embed](https://cloud.githubusercontent.com/assets/12866150/19462452/bfa994d4-94ba-11e6-8ca2-d08d2c8d610d.png)

[2016-10-18 03:54] jeanwalshie commented on #192
Sorry, yes, that works too!!

Sent from my iPhone

On Oct 17, 2016, at 7:41 PM, Jota Sprout <notifications@github.com<mailto:notifications@github.com>> wrote:

I thought you wanted it embedded it using code from YouTube like so:
[embed]<https://cloud.githubusercontent.com/assets/12866150/19462452/bfa994d4-94ba-11e6-8ca2-d08d2c8d610d.png>

—
You are receiving this because you were mentioned.
Reply

[2016-10-18 09:58] jotasprout commented on #192
Where might a high-maintenance contributor find this "Learn More" bit?

[2016-10-18 17:17] jeanwalshie commented on #192
haha -- it's on the site on the bottom left corner.

[2016-10-18 17:17] #190 closed

[2016-10-18 17:22] jeanwalshie commented on #129
@howdoicomputer -- i'd like to close this cuz in my mind it's done. maybe you can create a new issue if needed?

[2016-10-18 17:22] #129 closed

[2016-10-18 17:26] jeanwalshie commented on #174
update: 291 users, 458 drains adopted!

[2016-10-18 17:32] jeanwalshie opened #193 "Tell users upfront what is needed for their password"
people hate having to create passwords. what if we said, "Choose an easy password" or "Choose a password (any 4-6 characters)" or something that helps them get over the password barrier.  just a thought.

[2016-10-18 21:39] jeanwalshie commented on #192
Oh, haha! That I can’t help you with ☺

Jean Marie Walsh
Communications Manager
San Francisco Public Utilities Commission
525 Golden Gate Ave. 12th Floor
(415) 554-3203
jwalsh@sfwater.org<mailto:jwalsh@sfwater.org>

From: Jota Sprout [mailto:notifications@github.com]
Sent: Tuesday, October 18, 2016 2:39 PM
To: sfbrigade/adopt-a-drain
Cc: Walsh, Jean; Mention
Subject: Re: [sfbrigade/adopt-a-drain]

[2016-10-19 03:24] jszwedko commented on #193
In lieu of this, I think we could add the ability to login via Facebook, Twitter, or Google to help reduce friction.

[2016-10-19 03:25] jszwedko commented on #174
Nice! Let's keep it going.

[2016-10-19 03:38] jszwedko commented on #192
Awesome, @jotasprout, thank you for offering to jump in!

I think I like @jeanwalshie's idea of embedding one of the videos (I'd say the 30s one), at the bottom of the sidebar (app/views/main/index.html.haml); and embedding the playlist in the modal that appears when you click "Learn more" (app/views/sidebar/_background.html.haml).

Let me know if this helps!

[2016-10-19 11:49] jotasprout commented on #192
Thank you all! Today's rockstar is ... @jszwedko

[2016-10-22 13:32] jotasprout commented on #192
Finally have a moment (a few, actually), so working on it now.

[2016-10-22 14:18] jotasprout commented on #192
Where, exactly, at the bottom of the sidebar do you want it? Above or below the logos?

[2016-10-22 14:20] jotasprout commented on #192
I don't think I get this haml business and might not be the right person for this. I thought this was simple HTML and, obviously, require hand-holding for this simple task.

[2016-10-22 16:31] jszwedko commented on #192
@jotasprout no worries, I'll be around today if you want to talk in realtime (I'll hang out in Gitter: https://gitter.im/sfbrigade/adopt-a-drain). HAML isn't my favorite, but luckily isn't too complex -- take a look at http://haml.info/tutorial.html for an introduction.

I think putting the video towards the bottom of the sidebar makes the most sense, but feel free to try it in several places and

[2016-10-25 00:52] jeanwalshie opened #195 "Adopt a Drain Launch Event this Saturday 10/29!"
hey all,

we are LAUNCHING this thing. Below is an email we sent to the 300+ San Franciscans who have adopted drains using the Adopt a Drain web app, developed right here, by YOU.

The event is this Saturday, 10/29, 10am-12pm at the Southeast Treatment Plant, 750 Phelps.
# We hope you can make it! Please RSVP: https://www.eventbrite.com/e/adopt-a-drain-volunteer-launch-event-tickets-28775535401

D

[2016-10-26 04:38] jszwedko commented on #195
:tada: :100:

[2016-10-29 21:25] jszwedko commented on #192
Hi @jotasprout,

Apologies for snaking this from under you, but we wanted to get the video up in advance of some press this weekend. You can look at https://github.com/sfbrigade/adopt-a-drain/commit/c39d24d729965dd5e1e8807ac11fa7bfc2a6ef50 to see how I did it though and please feel free to contribute to any of the other issues!

[2016-10-29 21:25] #192 closed

[2016-10-30 14:58] jotasprout commented on #192
No apologies necessary. I'll definitely come back and take a look--thanks for that.

[2016-10-30 20:27] jszwedko commented on #103
@jeanwalshie I took a stab at this (in #196) which I've pushed to the staging environment (http://adoptadrainsf-staging.herokuapp.com/) if you could take a look. You'll note that users have to click a button to sign in or register now (the sidebar seemed to busy if I left it underneath the search form). Please let me know what you think!

[2016-10-31 17:47] jeanwalshie commented on #103
hi @jszwedko I like it! but now the words "address, location" seem almost like a caption for the video. i wonder if we can remove them. or put them within the search bar, in place of " 1 Dr. Carlton B Goodlet..."?

[2016-11-01 02:29] jszwedko commented on #103
Good call, I removed the label and updated the placeholder. Let me know what you think!

[2016-11-02 02:42] jszwedko commented on #195
Closing this since the event has passed, but it went great!

[2016-11-02 02:42] #195 closed

[2016-11-02 17:26] jeanwalshie commented on #103
@jszwedko i think it works great!

[2016-11-02 17:29] #174 closed

[2016-11-03 04:23] jszwedko commented on #103
Promoted to production!

[2016-11-04 00:01] jeanwalshie opened #197 "Add a ticker to site with current # of drains adopted"
Wouldn't that be cool??

[2016-11-04 00:27] jeanwalshie commented on #193
I like that but I wonder if ppl would be worried about privacy and the app posting on their behalf. We should ask users!

[2016-11-04 02:52] jszwedko commented on #197
:+1: I like this idea.

[2016-11-15 19:46] jeanwalshie commented on #103
@jszwedko this looks done, eh? i'm gonna close it. thank you!

[2016-11-15 19:46] #103 closed

[2016-11-15 19:51] jeanwalshie commented on #36
SFPUC is sending storm alerts and other email notifications to adopters. i'm also going to change the copy on the site and in the initial emails to notify users that we'll be emailing them periodically, so i'm going to close this issue.

[2016-11-15 19:51] #36 closed

[2016-11-16 03:37] jszwedko commented on #103
Yep! Thank you for cleaning up.

[2016-11-22 00:50] FrankieBurton opened #199 "Replace existing Adopt a Drain introductory email text. (Posted on behalf of SFPUC)"
(Posted on behalf of SFPUC)
- [x] Replace the entire introductory email text with the text below.
- [ ] Change font on entire page to Calibri.
- [x] Change the title to 14 point bold.
- [x] Change the heading to 13 point bold.
- [x] Change the body to 12 point normal.

-----
You just adopted one of San Francisco's 25,000 catch basins or storm drains. Congratulations and thank you for pledging to k

[2016-11-24 03:56] jasonlally opened #200 "Consider designs for feedback loops to maintain drain data"
Opening this issue to capture/discuss alternatives for creating feedback loops to help maintain drain data.

From @alocalsewerhistorian via #198

I'd recommend having some flag to show any drains adopted that have been deleted or even leave adopted drains which might be deleted by the update operation. We'd be happy to take a feedback loop (if possible). One idea would be to have a "data steward"

[2016-11-27 19:20] jszwedko commented on #199
@FrankieBurton @jeanwalshie I made the above changes and pushed to [staging](https://adoptadrainsf-staging.herokuapp.com/). Could you take a look and validate that they are what you expected (create a new user and then adopt a drain)?

[2016-11-28 22:21] FrankieBurton commented on #199
Thanks @jszwedko! I am reviewing now.

[2016-11-28 22:32] FrankieBurton commented on #199
@jszwedko How do I see these changes? The staging page only shows me the Adopt a Drain app. Where can I see the email content?

[2016-11-29 02:51] jszwedko commented on #199
Hi @FrankieBurton, you'll need to register for a new account on the staging site and adopt a drain. It'll send you an e-mail afterwards.

[2016-11-29 20:07] FrankieBurton commented on #199
Thanks for explaining @jszwedko! I'm in!

Here are the missing edits:

1. Bold and hyperlink the text below to: http://www.sf311.org/index.aspx?page=127 (the link doesn't work).
"Report it to the City's Customer Service Center, 311 on the web (or dial 3-1-1)."
2. Place at least one space between the three social media buttons.

[2016-11-30 03:35] jszwedko commented on #199
@FrankieBurton cool, thank you for taking a look!

1. Can you forward the e-mail you got to [me](mailto:jesse.szwedko@gmail.com)? When I tried, I got an e-mail with the link as expected.
2. It looks like there is some space between the social media buttons already (see attached screenshot) -- do you see something different? Or do you want more space?

![2016-11-29-193308_1339x371_scrot](https://cl

[2016-11-30 03:36] jszwedko commented on #199
Also, what e-mail client are you using? That might be affecting how it is rendering for you.

[2016-11-30 16:08] FrankieBurton commented on #199
@jszwedko I emailed you.

[2016-12-06 00:09] jeanwalshie opened #202 "possible bug in German?"
i got this feedback from a user:

"If you check out the German internationalization, the names of the drains come up as {thing_name}"

i don't know exactly what this means or how to check it, but maybe someone can take a look?

[2016-12-10 22:18] jszwedko commented on #202
This should be fixed by https://github.com/sfbrigade/adopt-a-drain/commit/78639d9499e838774f0fe76333dc92b761862e76.

It means that German users would have seen `{thing_name}` rather than the adopted name of the drain in the drain details. Unfortunately, I'm sure there are some other missing pieces to make sure the app is fully internationalized -- I might recommend just restricting to English unle

[2016-12-12 18:06] FrankieBurton opened #203 "Change Adopt a Drain logo hyperlink to open in a new tab."
Currently when you click on the Adopt a Drain logo it opens the AAD page, which is not helpful. Change the logo hyperlink to open in a new tab the link below.
http://sfwater.org/index.aspx?page=905

[2016-12-12 18:07] FrankieBurton opened #204 "Replace text on the purple button."
- [x] Replace text on the purple button with “What does it mean to adopt a drain? Click here to find out.”
- [ ] Change it to open a new tab when a user clicks on this button.

[2016-12-12 18:11] FrankieBurton opened #205 "Create and place a blue button under the purple button."
- [ ] Create and place a blue button under the purple button.
- [ ] Text on the blue button: “Learn more about the program.”
- [ ] Hyperlink the blue button to open the “Adopt a Drain SF Background?” page https://adoptadrain.sfwater.org/#background in a new tab.

[2016-12-12 18:41] FrankieBurton opened #206 "Replace text for “What does it mean to adopt a drain?” page."
- [x] Replace text entirely with the text below.
- [ ] Change font on entire page to Calibri.
- [x] Change the title to 14 point bold.
- [x] Change the heading to 13 point bold.
- [x] Change the body to 12 point normal.
- [x] Hyperlink Facebook button to: https://www.facebook.com/SFWater
- [x] Hyperlink Instagram button to: https://www.instagram.com/sfwater/
- [x] Hyperlink Twitter button to: http

[2016-12-12 19:06] FrankieBurton opened #207 "Replace text for the “Adopt a Drain SF Background” page and rename button "Program Background""
- [x] Replace text entirely with the text below.
- [ ] Change font on entre page to Calibri.
- [x] Change the title to 14 point bold.
- [x] Change the heading to 13 point bold.
- [x] Change the body to 12 point normal.
- [x] Hyperlink circular GitHub button to https://github.com/sfbrigade/adopt-a-drain.
- [x] Hyperlink GitHub watch button to watch the adopt a drain GitHub page.
- [ ] If possible m

[2016-12-12 19:15] #205 closed

[2016-12-12 19:23] FrankieBurton opened #208 "Decrease size of logos and fix scaling issues"
Decrease the size of the SFPUC, Public Works, DataSF, Code for San Francisco and Code for America logo thumbnails on the home page to make them all visible without scrolling. (Currently you cannot see the Code for America logo.)

[2016-12-12 19:28] FrankieBurton opened #209 "Create blue button similar to purple button."
- [x] Place the blue button below the Register/Sign in button and above the logos.
- [x] Include the following text on the blue button: “Learn more about the program.”
- [x] Hyperlink the blue button to open the “Adopt a Drain SF Background?” page in a new tab: https://adoptadrain.sfwater.org/#background

[2016-12-12 19:35] FrankieBurton opened #210 "Remove the “send feedback” link and “Learn More” link."
Once Issues #203, #204, #206, #207, #208 and #209 are complete remove the “send feedback” link and “Learn More” link from the bottom of the page.

[2016-12-14 03:01] jszwedko commented on #203
Hi @FrankieBurton, I'm happy to make this change if we _really_ want it, but the general recommendation for web applications is that clicking the logo of a page takes you to the home page of the application (see Twitter and Facebook for examples or https://www.nngroup.com/articles/113-design-guidelines-homepage-usability/ for more details). Since this is a single page application, I would also be

[2016-12-14 03:09] jszwedko commented on #209
Hi @FrankieBurton, I think this is reasonable, however the app is currently a single page app so it would take a bit more work to design a new layout just for this page. What would you think of just making the placement and language updates for now, but keep the modal? And then, if we still want to have it appear on a separate page, we can tackle that in a second pass?

[2016-12-14 03:15] FrankieBurton commented on #209
Hi @jszwedko! I think the issue here is the "learn  more" link is too small and is buried by the logos. We think the information on the Adopt a Drain SF Background page is important and want users to read it. The tiny learn more link is unlikely to be noticed. How do you suggest we address this issue? Do we have to create a new modal to add a button?

[2016-12-14 03:17] FrankieBurton commented on #203
Thanks for the explanation @jszwedko. I am ok leaving it as is then unless @jeanwalshie has a different preference.

[2016-12-14 03:21] jszwedko commented on #208
Hi @FrankieBurton, whether or not the logos will be visible without scrolling will depend on how tall your viewport is (i.e. how many pixels tall your web browser window is).

I think are options are:

0. Make them small enough that for _most_ view port sizes you will see them when not logged in (opening either the login form or logging in and seeing your list of drains will likely push the logos

[2016-12-14 03:23] jszwedko commented on #207
👍  I like this copy

[2016-12-14 03:27] jszwedko commented on #209
Ah! No, I agree with you that it isn't very prominent currently and agree with the changes to make it more so. I was mostly talking about whether, when clicked, it would open the modal (as it currently does) or if it would open a completely new page in a new browser tab (which would take a bit more work to design a layout for).

[2016-12-14 03:31] FrankieBurton commented on #209
Oh! Thanks for explaining. I misunderstood your terminology. If it is going to take a lot more work to open it in a new tab then by all means keep it as is and table the new tab item for future versions. Do we have a thread going for "nice to haves"? If not can we start one? Or what is your preferred method for tracking those items?

[2016-12-14 03:35] jszwedko opened #211 "Move "Adopt a Drain SF Background?" to a new page"
It is in a modal for convenience since a layout for this type of content doesn't exist in the application currently, but we should design such a layout and move this content to a separate page.

Spun off from #209

[2016-12-14 03:36] jszwedko commented on #209
👍  👍

For the follow up, I think creating an issue for it is more than reasonable. I've created https://github.com/sfbrigade/adopt-a-drain/issues/211 and as well as a new `nice to have` label that we can use.

[2016-12-14 03:37] FrankieBurton commented on #208
I realize that it depends on the view port, but I did not know that term. Thanks - that is a good word to know! :)

I apologize for not being more clear. I meant to request that the logos be made small enough for most view ports. However, now that I know about the second option I kind of like it. I'd say the logos could be a bit smaller, but it would be nice to be able to see them at all times. It

[2016-12-14 03:38] jszwedko commented on #209
(I've also added you as a collaborator on the repo so that you can do things like label issues 😄 )

[2016-12-14 03:40] FrankieBurton commented on #209
You read my mind!! I was about to ask about that since I cannot currently label issues. :D Thanks!

[2016-12-14 03:45] jszwedko commented on #208
👍  agreed, we should shrink the logos either way.

I'll do some more research, but it looks like we should be pretty safe with 700px on desktop if we decide to go that route.

[2016-12-14 03:48] FrankieBurton commented on #209
:shipit:

[2016-12-14 22:06] jeanwalshie commented on #202
thanks, @jszwedko. how do we restrict to English? works for me!

[2016-12-14 22:11] jeanwalshie commented on #197
i got another inquiry from Vancouver today (in addition to other inquiries from media and others) about the current # of drains adopted. Just wanting to make sure this doesn't drop off the radar! :)

[2016-12-17 01:15] FrankieBurton commented on #199
@jszwedko I updated this issue to make the style consistent with what we requested for the website (see checklist at the top of the original issue). Please let me know if this cannot be done for some reason.

[2016-12-17 21:06] jszwedko commented on #199
@FrankieBurton 👍

A couple of points:

I took a look at Calbire and unfortunately it looks like it is a proprietary font so we would need to license it to use (https://www.fonts.com/font/microsoft-corporation/calibri). Is there another, free, sans-serif font that would be amenable?

"point" sizes for fonts are technically only valid for print media (rather than web), but the following looks like r

[2016-12-17 21:07] jszwedko commented on #202
We can do that in the code -- I'll make that adjustment now.

[2016-12-17 21:17] jszwedko commented on #202
Should be done by 5a32412

[2016-12-17 21:17] #202 closed

[2016-12-17 21:21] jszwedko commented on #208
@jeanwalshie what do you think about the above options?

[2016-12-17 21:23] jszwedko commented on #204
Similar to #209 I'll just keep the text in a modal for now, but when we design a new layout, we can move this to a separate page as well (if that's OK).

[2016-12-17 21:51] jszwedko commented on #206
Updating the copy now, but same comment about the font family / sizes as over here: https://github.com/sfbrigade/adopt-a-drain/issues/199#issuecomment-267786909

[2016-12-17 22:36] jszwedko commented on #199
Added inline styles for the header sizes but the page doesn't have a title per say.

[2016-12-17 22:51] jszwedko commented on #207
I unfortunately wasn't able to easily get the "Click here for more information about what it means to adopt a drain." link to function correctly in the modal (without breaking the scrolling) so I dropped it from the above copy. If is important though, I can spend some more time with it.

[2016-12-20 21:11] FrankieBurton commented on #207
Let me ask @jeanwalshie about that @jszwedko. Add it to the nice to have list for now.

- [ ] Please bold the section headers: Adopt a Drain, Background, Volunteer Developer Opportunities and Contact.
- [ ] Please remove the blue Github button since they both lead to the same page. Is it possible to open them in a new tab by default?

[2016-12-20 21:15] FrankieBurton commented on #204
Sounds and looks great @jszwedko! :shipit:

[2016-12-20 21:17] FrankieBurton commented on #209
I reviewed and this looks great @jszwedko! :shipit:

[2016-12-20 21:22] FrankieBurton commented on #206
@jszwedko here are my edits.

- [ ] The text in the first paragraph should not be so big - it should match the other body text such as the text under "Free Tools and Training."
- [ ] Bold section headers: How to Care For Your Adopted Drain, Drain Cleaning Safety Tips, Free Tools and Training, Spread the Word! and Contact Us.
- [ ] The 311 link loaded for a long time and never loaded. Please look i

[2016-12-20 21:23] FrankieBurton commented on #210
Reviewed and this looks good! :shipit:

[2016-12-21 02:01] FrankieBurton commented on #208
@jszwedko will the fifth logo be visible with option 2? If so I prefer it. @jeanwalshie let us know if you have a strong preference otherwise we will go with option 2.

[2016-12-21 02:14] FrankieBurton commented on #199
@jszwedko Leave the font as is since we cannot use Calibri. Thanks!

[2016-12-22 21:26] jeanwalshie commented on #209
hi guys,

this looks great, thank you! one SMALL suggestion: Can we call the button **Program Background**? it's a bit shorter and simpler, more accurately reflects the content, plus, i'm not a fan of the period at the end of the existing text as it's not consistent with other buttons.

[2016-12-22 21:30] jeanwalshie commented on #208
hi all! i don't have a strong preference. but remember the page looks different after sign in (the video disappears) so there's more space on the left bar.

here's what the logos currently look like for me:
![image](https://cloud.githubusercontent.com/assets/15933453/21440961/904daf04-c84a-11e6-82b2-4b22169ebc5e.png)
the two city logos don't shrink as well as the other three.

[2016-12-22 21:31] FrankieBurton commented on #209
I like that better!

[2016-12-22 21:35] jeanwalshie commented on #207
@FrankieBurton -- re item #3 above, we can make a new issue and tag it "nice to have". i'll do that now.

[2016-12-22 21:37] jeanwalshie opened #212 "Have links open in a new window"
ie, in Program Background modal, have links to Github, Code for San Francisco, Open Data Portal, Ruby on Rails, etc. open in a new window.

[2016-12-22 21:37] FrankieBurton commented on #208
Yeah they look crammed in there. Is there any way to fix this @jszwedko?

[2016-12-22 21:47] jeanwalshie commented on #206
hi all, this is looking great and i'd love to make it live!

the 311 link worked for me just now, so who knows what the issue was.

two more teeny tiny things:
1) there is an extra period after web in "on the web**.** (or dial 311).
2) let's remove the second instance of "periodic" as it occurs twice: "We invite drain adopters to periodic events during the rainy season where they can receive drain

[2016-12-22 21:52] jeanwalshie commented on #204
we can close this, right?

[2016-12-22 21:52] #204 closed

[2016-12-22 21:53] jeanwalshie commented on #203
hi all, fine leaving it as is! thank you!

[2016-12-22 21:53] #203 closed

[2016-12-22 21:54] FrankieBurton commented on #204
Yeah I think so since this edit has been made and is live.

[2016-12-26 17:38] jszwedko commented on #207
@FrankieBurton

Apologies for the delay! The holidays have busy.

I removed the github icon, but the headers are already weighted (bold) did you want the weight to be heavier? See image for example of what it currently looks like (reminder that this is only on the staging server):

![screen shot 2016-12-26 at 12 37 29 pm](https://cloud.githubusercontent.com/assets/316880/21484895/2410137e-cb68-11e

[2016-12-28 22:27] jeanwalshie commented on #207
hi @jszwedko, thanks for making these edits!

i would really like to make these content items live and worry about any formatting/font issues later if need be. what do you think?

[2016-12-28 23:18] FrankieBurton commented on #207
@jszwedko That is not what it looks like for me, but I agree with @jeanwalshie. Let's make these edits live and then fix the headings. I'll take a look after it goes live and will let you know if there is an issue. Thanks!

[2016-12-29 18:02] jszwedko commented on #206
:+1: made the above updates and pushed to the http://adoptadrainsf-staging.herokuapp.com/ as part of #201

[2016-12-29 18:04] jszwedko commented on #209
:+1: Made the above update and pushed to http://adoptadrainsf-staging.herokuapp.com/ as part of #201

[2016-12-29 18:07] jszwedko commented on #210
Awesome, thank you. I haven't circled back to the logos yet, but will do so (I'd like to get #201 out first just to close out most of the issues since this once might end up being a bigger change).

[2016-12-29 18:09] jszwedko commented on #207
Pushed another change up (to http://adoptadrainsf-staging.herokuapp.com/) that should hopefully fix the font-weighting issue across browsers. Let me know if it looks good to you @FrankieBurton !

[2016-12-29 18:23] jszwedko commented on #208
:+1: I'll give option 2 a shot. I'd like to get the changes in #201 out there first just to clear up the backlog since this change may require some more back and forth to get right.

[2016-12-29 22:21] jeanwalshie commented on #207
@jszwedko this looks great, thank you!

only one small thing: there is a duplicate paragraph. the first instance of "Code for San Francisco and other volunteers then used a web-based platform called Github to develop the open source web application on Ruby on Rails. Github enabled contributors to work on the project from anywhere in the world. They modeled Adopt a Drain SF on Boston's Adopt a Hydr

[2016-12-29 22:22] jeanwalshie commented on #208
@jszwedko works for me!

[2016-12-29 22:24] jeanwalshie commented on #210
i'm gonna close this because i see the links have been removed.

[2016-12-29 22:24] #210 closed

[2016-12-29 22:30] jeanwalshie commented on #209
looks good @jszwedko i think we're ready to roll. can we close this one or should we wait til you make it officially live? i love closing issues! (it's really the only thing i'm good for around here... :)

[2016-12-29 23:23] jeanwalshie opened #213 "Replace text for 2nd email"
Please update the text of the 2nd email as follows:

==================================

Wow! You adopted another drain. Thank you.

Remember, if you encounter medical waste, construction debris, toxic materials or some other problem with your drain, [report it to 311](https://mobile311.sfgov.org/reports/new?service_id=518d5c0d601827e388000156) to have it cleared by the City.

As always, please le

[2016-12-29 23:28] jeanwalshie opened #214 "change the email sender from "info" to "Adopt a Drain SF""
the reply to address should remain info@sfwater.org but i'm hoping we can change the sender to something more descriptive than "info".

gracias!

[2016-12-30 18:01] jasonlally commented on #143
There were a mix of considerations here. In the original app, it was even busier and there were lots of icons that created some cognitive load to decipher. I think a lock indicated private, but not necessarily required. It was a little confusing.

Anyway, I think the intention of the original developers was to be transparent that certain information would be made available to other users. We could

[2016-12-30 20:59] jeanwalshie commented on #199
hi all! i think this is pretty much good to go. i do (of course) have a couple teeny tiny suggested edits! :)
- remove the #stormprep hashtag, for reasons elaborated in another issue.
- remove the 1st instance of the word "periodic" from the "tools and training" paragraph. (it occurs twice)
- remove this sentence: "Want to encourage your coworkers, friends and neighbors to participate?" (don't thi

[2017-01-01 00:03] j6design commented on #143
Although it would be great to conduct a little A/B testing, I agree with trying Jason's proposed approach.

Note: If possible, could we move away from asking optional information on signup forms,

[2017-01-04 23:07] jeanwalshie opened #215 "Name not showing up after adoption/orange icon not appearing for adopted drain"
hmmm, i adopted a drain and named it, but the name is only showing up in the sidebar of my drains, not on the actual drain i adopted. there it just says "catch basin drain has been adopted..."

i wonder if this happened because we imported a new batch of drain data? @jasonlally

[2017-01-05 04:57] jszwedko commented on #215
@jeanwalshie I don't think we've run an import for quite a while (looks like 2016-01-13), but you are right that there exists a bug whereby it would overwrite the name the user gave the drain. We should aim to fix that before running any more imports. When did you adopt the drain in question? For reference, my adopted drains still have the names I gave them.

This also affects #198.

[2017-01-05 05:56] jszwedko commented on #206
No worries! Removed in bff46fe

[2017-01-05 06:14] #209 closed

[2017-01-09 01:47] #214 closed

[2017-01-09 01:47] jszwedko commented on #214
Good idea! Addressed in https://github.com/sfbrigade/adopt-a-drain/commit/fd816b0494a9430046b768d1c3eb10c212c81e29

[2017-01-09 02:20] #213 closed

[2017-01-09 02:21] jszwedko commented on #213
:+1:

Adjusted to match this in c71a9f0

I did adjust the hyperlink in the penultimate paragraph to include the whole of "Learn more about this Public Works program here." as the link text. This is more in-line with web accessibility recommendations (http://webaim.org/techniques/hypertext/) because "here" is ambiguous without additional context. Please let me know if you'd like different link text

[2017-01-09 03:09] jszwedko commented on #197
@jeanwalshie took a stab at this in #216 which ended up with something that looks like:

![2017-01-08-220032_548x612_scrot](https://cloud.githubusercontent.com/assets/316880/21756407/0fbb08fc-d5ef-11e6-97b4-cd6ddb817342.png)

What do you think?

[2017-01-10 20:10] jeanwalshie commented on #215
I recently (can't remember the date - past few weeks) un-adopted my drain and re-adopted it, giving it a name. the name shows up in the sidebar but not on the actual drain icon. also, my adopted drain is not showing up as orange... hmmm.

[2017-01-10 20:19] jeanwalshie commented on #197
cool! you got it to work!? amazing, @jszwedko!

the way it displays it almost looks like the drains have been adopted by that person. or maybe that's because the sample number only 3 vs. 1112.

i would suggest:
- moving it up higher, maybe even just below the green logo.
- can it say **TOTAL DRAINS ADOPTED**:
- and maybe in smaller font last updated... (?) This would be to show that it's current/r

[2017-01-10 20:21] jeanwalshie commented on #206
this looks great! i'm closing the issue. thanks @jszwedko!!!

[2017-01-10 20:21] #206 closed

[2017-01-13 04:57] jszwedko commented on #197
@jeanwalshie :+1: thank you for the feedback! What do you think of something like:

![2017-01-12-205716_766x749_scrot](https://cloud.githubusercontent.com/assets/316880/21918774/c072d31a-d909-11e6-9831-24ffb3721782.png)

[2017-01-17 01:16] jszwedko commented on #215
@jeanwalshie I'm still not sure I completely understand. I was able to un-adopt and re-adopt a drain, giving it a new name, and it seemed to work OK. Note that the sidebar does not dynamically update, but will upon page refresh.

[2017-01-17 18:17] idilbereket opened #221 "make last name a requirement for new sign-ups"
I'm posting on behalf of the SFPUC: As we import this new data to our contact database, not having a last name is a problem.

[2017-01-17 18:22] jeanwalshie commented on #221
yes, i agree and would like to try this.

[2017-01-17 18:28] jeanwalshie commented on #215
I'm sorry, @jszwedko. I think I figured it out. When a user is logged in his/her drain name will not show up on the actual drain. There it will just say "Thank you for adopting this drain." So that's fine. (When I log out and view the drain, the drain name does show on the map.)

BUT -- there is still the issue of my adopted drain's icon not being orange, but showing up as gray.

I can make a new

[2017-01-17 18:31] jeanwalshie commented on #197
i like it! what do you think about having it say "Total Drains Adopted in SF:"? I added "in SF" to make it clear that it's a total number, vs. a number adopted by the user. BUT this confusion will go away when the number is 1250 vs. 3 :)

[2017-01-18 03:31] jszwedko commented on #197
Works for me! How about:

to make it a bit shorter.

[2017-01-18 03:32] jszwedko commented on #215
Aah, hmm, was it gray when you were logged in? When you are not logged in that it will show it as gray since it doesn't know it is your drain.

[2017-01-18 03:36] jszwedko commented on #221
:+1: it'd be nice to have some metrics to see if there is any drop-off when that requirement is added, but hopefully most people don't find it too invasive.

[2017-01-18 18:08] idilbereket commented on #221
yes agreed, thanks for replying quickly @jszwedko .

[2017-01-24 16:35] idilbereket commented on #221
Exciting to see 1345 drains adopted by 842 people! With that, wanted to check on "making the last name as a requirement for the new sign-ups". Thanks much!

[2017-01-27 04:33] #197 closed

[2017-01-27 04:46] jszwedko commented on #197
Merged this in, let me know what you think @jeanwalshie !

[2017-01-27 05:09] jszwedko commented on #221
@idilbereket I've implemented this (but have not released yet) in #223. I ended up implementing it to only require the last name field for new users to avoid existing users getting, what I would imagine would be, confusing errors when updating their profile.

Let me know what you think and I'll release it.

[2017-01-27 18:25] idilbereket commented on #221
@jszwedko that sounds good - you're right, best if it's a requirement for newcomers only, and we can keep as is for the existing users. Also, will you be removing the word "optional" for last name? Thanks much!

[2017-01-28 21:02] jszwedko commented on #221
@idilbereket awesome, I'll release it now. And yep, I removed the `Optional` label from that field.

[2017-01-30 17:05] idilbereket commented on #221
Awesome @jszwedko ! I also saw the tracker (for the number of drains adopters) is now on - yay! Thanks for all your help!!!

[2017-01-31 02:50] jszwedko commented on #221
Of course!

[2017-01-31 02:50] #221 closed

[2017-01-31 02:51] jszwedko commented on #215
@jeanwalshie just checking in to see if you are still seeing an issue.

[2017-01-31 17:58] jeanwalshie commented on #215
yes, sorry @jszwedko! i was out of town on a 10-day silent meditation retreat -- just coming up for air.

and yes, the icon for my adopted drain is showing up as gray (vs. orange) when i'm logged in. my drain is the one at 20th and S. Van Ness in the image below.

it's a small thing, but still a bug. thanks so much for following up!

![image](https://cloud.githubusercontent.com/assets/15933453/224

[2017-02-01 01:21] jeanwalshie opened #224 "Rename columns in Admin area"
In the "List of Drains" section of the Admin area there are several columns we would like to rename to make them more clear:

1) "Created at:" If this represents the date the drain was imported into the system, can we call it "Drain Import Date"? They all say 12/8/2015 so i assume that's what this means. If not, please clarify.
2) "Updated at:" Does this represent the date the drain was adopted? o

[2017-02-01 01:22] jeanwalshie commented on #224
PS, tagging this UX because Admins are users too! :)

[2017-02-01 01:35] jeanwalshie commented on #199
awesome, @jszwedko!

a couple more "nice to have" edits:
- stormwater is one word (1st paragraph, 3rd sentence). (i'm embarrassed submitting such a minor thing, but oh well.)
- i would like to remove the words "on the web" and shorten the hyperlinked text so it reads "Report it to the City's 311 Customer Service Center (hyperlinked) (or call 3-1-1).

and that's it, we can close!

sorry and thank y

[2017-02-01 01:37] jeanwalshie commented on #207
yay! closing this. THANK YOU.

[2017-02-01 01:37] #207 closed

[2017-02-01 04:16] jszwedko commented on #224
:+1: admins are definitely also users :)

Unfortunately the admin side is using a generic Rails admin plugin so created_at/updated_at fields map directly to "record" terminology, but I think we should be able to make some labeling adjustments.

To answer your questions:

Correct, this is when the record was created in the database (which is generally only during the import).

In the "Users" sectio

[2017-02-04 19:33] jszwedko commented on #199
No worries!

Made the edits in 249e451

Just let me know if there are any additional edits you need.

[2017-02-04 20:07] jszwedko commented on #215
@jeanwalshie no worries! That sounds amazing.

Thanks for the screenshot, that helped me figure out that I had inadvertently broke the highlighting of adopted drains during #196. I re-added the missing field and added a test to make sure it isn't accidentally removed in the future in f3fc31a.

[2017-02-06 05:44] jszwedko commented on #208
@FrankieBurton @jeanwalshie got around to taking a crack at this one. After playing around with it for a bit, I actually ended up with #225 which makes the logos smaller and removes the CFA logo since it was easier to lay out 4 logos. You can see the end result here: http://adoptadrainsf-staging.herokuapp.com/ (check it out on mobile too).

CFA isn't an active partner of the project, but they were

[2017-02-06 22:04] jeanwalshie commented on #208
thank you @jszwedko!

a few things:
1) the logos look pixelated on my large computer screen (on the test site.) not sure why that is. (couldn't seem to attach an image so I'm attaching a file -- sorry)  I'm not a designer but I think if we provide you vector files (.pdf) vs. raster files (jpg.) that might take care of this issue? I can look into this...
2) I'm fine with removing the CFA logo becau

[2017-02-06 22:07] jeanwalshie commented on #215
perfect! I think this is done!

[2017-02-06 22:07] #215 closed

[2017-02-06 22:15] jeanwalshie commented on #199
thank you, @jszwedko! I didn't test it, but I looked at the changes you made and they look perfect. closing this!

[2017-02-06 22:15] #199 closed

[2017-02-07 22:41] jeanwalshie opened #226 "Remove time stamp from # of drains adopted ticker"
small thing, but the time stamp seems to be Eastern Standard and military time, and i think it's unnecessary. i'd like to remove it but keep the full date. ie, Last updated February 7th, 2017 (REMOVE 22:30)

[2017-02-10 18:21] jafowler49 commented on #173
@jszwedko @jasonlally  Hi Jesse! I'm James from SFDT. I'm working on the Adopt a Drain Project... Hi Jason, we met in the meeting here at DT.

@jasonlally I believe you oversee the actual drain data aggregation and uploading to DataSF?

I've been working on this Issue, but I have a question in regards to how we ensure that data is accurate.

For example, currently lat/lng drain locations are OK, b

[2017-02-10 18:43] chaunceygraves commented on #173
Hi James,
Welcome to Adopt a Drain. I’m data custodian for sewer engineering at Public Works, but at this point just a lurker on the GitHub part of this. Janine Heiser at DT with SFGIS group set up the auto load of drain data from us at Public Works to dataSF, you might want to talk to her…2nd floor SVNess I think?  However, our database view calculates the lat/long and issues with that may be on

[2017-02-10 18:55] jafowler49 commented on #173
@chaunceygraves Thanks, for the quick response. The current data looks ok, but when I downloaded data back in December it was incorrect.

I've attached a copy of the data from back in December as an Excel attachment. You can see that the lat/lngs are incorrect.

Thanks for looking in to it

[Stormwater_inlets__drains_and_catch_basins-dec.xlsx](https://github.com/sfbrigade/adopt-a-drain/files/76753

[2017-02-10 19:16] jasonlally commented on #173
@jafowler49 - the issue was fixed back in December. Lat/long got inverted during automation so you must have downloaded during the window where there was a data issue.

Thanks for checking in on this though.

[2017-02-10 19:29] jasonlally commented on #173
@jafowler49 - I assume you know this, but just in case there's been some effort in this direction that you may be able to leverage. There's an open WIP pull request here #217 and earlier #198

@jszwedko and @squidarth were contributing.

[2017-02-10 20:48] jafowler49 commented on #173
thanks @jasonlally . I actually didn't notice those. Good thing you told me about it because it could be a problem editing the same files

@jszwedko It looks like those two branches can be merged by fixing one file. I think they are spacing issues. If you're doing pull request merging can you merge these branches so all commits can be on prod.

Thanks!

[2017-02-11 18:02] jszwedko commented on #173
:+1: I'm hoping to push forward #217 this weekend.

[2017-02-11 18:50] jszwedko commented on #226
Aha, yes, of course, I neglected that it would use the server timezone. I'll remove the time.

[2017-02-11 18:54] #226 closed

[2017-02-11 18:57] jszwedko commented on #226
Just committed this directly since it was a small change -- it's been merged and released.

[2017-02-11 19:21] jszwedko commented on #208
Vector files (SVG preferably) would definitely scale better to smaller viewports. If you could find one for DPW and SF Water, I can track one down for Code for SF. @jasonlally do you know if DataSF has a vector logo floating about?

[2017-02-11 19:23] jszwedko commented on #208
When we add the DT logo, we _could_ re-add CFA one and go to 2 lines of 3.

[2017-02-16 20:17] jeanwalshie commented on #224
Thanks, @jszwedko!

i think we should relabel if possible.
1) in the Drains section RENAME "Created at:" to "Drain Import Date"
2) in the Drains section LEAVE AS IS "Updated at"
3) In the Users section RENAME "Created at" to "Account Creation Date"
4) in the Users section RENAME "Updated at" to "Last Log In". (Since any change made by the user would require the user to log in, that's in fact what

[2017-02-28 23:51] jeanwalshie commented on #10
i'd like to think about this further. where and when would the user get this prompt to add to calendar? would it be an option in the box that appears once a person adopts a drain, perhaps below the "Abandon this Drain" button? would we enable them to add it to a Gmail, Outlook, Apple... and Yahoo? would love thoughts from @jafowler49 and @jszwedko :) as to how hard this would be to implement.

[2017-02-28 23:54] jeanwalshie commented on #110
revisiting this so that we can move on some of these items, or close them out.

now that we are trying this "projects" tab, how does that affect this idea of including info about zenhub? @jasonlally @jszwedko @jafowler49

[2017-03-03 01:17] jeanwalshie commented on #39
Apparently there are 4000+ drains owned by the Port and other entities. I say we leave the app as is for now.

[2017-03-03 01:17] #39 closed

[2017-03-03 01:20] jeanwalshie commented on #13
i'm doing research into text messaging capability that the SFPUC would acquire (purchase). i'll create a new issue if this idea comes to fruition and support is needed!

[2017-03-03 01:20] #13 closed

[2017-03-03 01:23] #37 closed

[2017-03-03 23:48] jeanwalshie commented on #212
hey @jafowler49 what's the next step on this? i guess i'm unclear on who's supposed to review before it goes live.

[2017-03-03 23:50] jeanwalshie commented on #208
![sfwps-horz-4c](https://cloud.githubusercontent.com/assets/15933453/23573185/08c5bed4-0029-11e7-9b6c-a3567d575bfa.jpg)
![sfwps-horz-t1](https://cloud.githubusercontent.com/assets/15933453/23573186/08ca636c-0029-11e7-947e-7407b8fd6cc8.png)

ok, here are SFPUC and DPW logos in PNG and JPG. will these work? (i tried to upload AI files but they're not accepted...

[2017-03-04 01:03] jafowler49 commented on #212
Hey Jean,

I think Jesse was the final reviewer, the one who merges branches. But maybe I'm wrong...

@jszwedko for all Pull Requests, should I merge them into production myself, or do you do that?

Also, the second pull request that I opened has a minor error - I didn't create the branch off the production branch so the two pull requests share the same commits. I can fix this if necessary

Thanks

[2017-03-04 21:35] jszwedko commented on #212
Historically, I have reviewed incoming code as well as merged my own in, but now that we have multiple maintainers, I would definitely appreciate review of my PRs (if that is cool with you @jafowler49) and I'm happy to review incoming.

[2017-03-04 21:38] jszwedko commented on #212
@jeanwalshie double checked this on staging and promoted to production if you want to take a look.

[2017-03-04 21:41] jszwedko commented on #208
👍 I can play with these some more

[2017-03-04 23:28] jszwedko commented on #110
I'd say that the Projects tab takes the place of what we would have used Zenhub for (and is documented in https://github.com/sfbrigade/adopt-a-drain/wiki/Adopt-a-Drain-SF-Development-and-Deployment-Processes). I'm 👍 on closing this one.

[2017-03-04 23:30] jszwedko commented on #10
Hmm, was the thinking that this would be a calendar feed that would be managed by the city? I could see us having a single calendar feed that people could subscribe to (that way, you could add calendar events in advance of weather events).

[2017-03-07 18:28] jafowler49 commented on #110
ditto @jszwedko

[2017-03-09 22:31] jeanwalshie commented on #224
this is awesome! so much easier on the admin end. i think we can close this. thanks @jafowler49 and @jszwedko!

[2017-03-09 22:31] #224 closed

[2017-03-09 22:34] jeanwalshie commented on #212
this is solid! much better.
ready to close this issue, but i see there's an outstanding question about review for @jafowler49. i'll keep it open for now. thanks, guys!

[2017-03-09 22:35] jeanwalshie commented on #110
another one bites the dust. thanks @jafowler49 and @jszwedko!

[2017-03-09 22:35] #110 closed

[2017-03-10 03:08] jafowler49 commented on #212
Hi @jeanwalshie, Jesse answered my question so you are free to close this

[2017-03-10 21:26] #212 closed

[2017-03-10 21:28] jeanwalshie commented on #208
@jszwedko i get a message that says "don't accept those file types." maybe i can just email them to you?

[2017-03-11 04:25] jszwedko commented on #208
Aha, I see, yeah Github does limit the file types. Email is fine!

[2017-03-13 19:48] jeanwalshie commented on #208
ok, i emailed them to you!

[2017-03-17 23:43] jeanwalshie opened #231 "Change name of "City" column in Admin area"
For some reason the "City" column in the Admin area lists a five digit number that corresponds to the drain number in our Maximo asset management system. I would like to rename that column Maximo ID. @jafowler49 is that something you can help with?

[2017-03-21 21:26] jeanwalshie opened #232 "Add media articles"
we could either add a new button under Program Background called "In the News" or we could add article links to the existing Program Background page.

the idea is to show off all the media mentions about the program!

what do you think, @jszwedko @jafowler49?

[2017-03-23 17:23] jafowler49 commented on #232
Hmm, to keep the menu simple I'd say add it to the existing Program Background page. But if business needs or your preference says otherwise we can add a button.

Where are the links we'd like to add?

[2017-03-23 17:25] jafowler49 commented on #231
cool, yea I'll add a column alias as I did with the updated_at column

[2017-03-24 02:46] jszwedko commented on #232
:+1: I agree that another button may clutter the UI a bit.

[2017-04-09 19:10] jafowler49 commented on #231
Completed @ https://github.com/sfbrigade/adopt-a-drain/pull/233

This can be closed

[2017-04-09 22:38] jafowler49 commented on #173
Looks like this is being taking care of in the other pull requests.... All we need is a Heroku cron job to run the job continuously

[2017-04-11 20:16] jafowler49 opened #234 "Add DT logo to UI"
With @jeanwalshie approval, per our conversation a while ago, add a Department of Techonology logo somewhere on the UI. I'm thinking next to "Code for America" logo, which would move that the right and have DT logo on the left. Gonna upload a comp so we can see it.

[2017-04-11 22:30] jeanwalshie commented on #231
awesome, thanks!!!

[2017-04-11 22:30] #231 closed

[2017-04-11 22:35] jeanwalshie commented on #234
hi @jafowler49 -- yes, absolutely! we were discussing this here #208. I would still like to fix scaling issue with the SFPUC and Public Works logos. Maybe you can tackle while you're adding the DT one? I emailed vector logos to @jszwedko and can send them again if you need them.

[2017-04-11 22:52] jafowler49 commented on #234
sure can you email me the logos that you emailed to Jesse? my email is james.fowler@sfgov.org . thanks!

[2017-04-12 23:16] jafowler49 opened #235 "Enforce "Stay Signed In" choice"
Whether or not the user chooses "Stay Signed In" when they sign on, the user stays authenticated

To Replicate:
1) At sign in screen, uncheck "Stay Signed In"
2) Sign in
3) Quit browser
4) Open browser and go back to Adopt a Drain
5) Notice user still signed in

Desired Behavior is that on browser close, users stay authenticated only when they chose "Stay Signed on"

If this is in fact an issue, I

[2017-04-12 23:57] jeanwalshie commented on #235
good catch! I think if we are giving the option we should follow through on whatever they select.

[2017-04-18 04:55] jszwedko commented on #235
@jafowler49 good catch, it does appear to be setting the cookie either way.

[2017-04-19 16:32] jasonlally opened #236 "Create simple API to access locations of adopted drains"
**Use case:** users want to have ad hoc access to what specific drains are adopted so they can map them or integrate them with other data.

**Proposed acceptance criteria**

- [ ] User can access adopted drains at a single endpoint like https://adoptadrain.sfwater.org/api/drains/adopted
- [ ] Data returns in json or csv based on parameter something like ?format=csv, default json
- [ ] Endpoint ret

[2017-04-20 16:45] jafowler49 commented on #236
I'll make a REST API for this purpose. I'd think we'd need some sort of authentication, as that is the standard for most public APIs.

[2017-04-20 22:22] jafowler49 commented on #208
Pull request ready for review

https://github.com/sfbrigade/adopt-a-drain/pull/237

[2017-04-21 18:48] jafowler49 commented on #234
Added to pull request https://github.com/sfbrigade/adopt-a-drain/pull/237

[2017-04-22 23:30] jasonlally commented on #236
@jafowler49 Thanks! Yeah, I didn't mean to imply no authentication, just that we can keep it simple since we won't have to have multiple levels of access.

For a first iteration, we can probably just assign access to those with admin roles and use basic authentication over TLS (the server has a ssl certificate).

If we get a basic endpoint, then DataSF could just leverage the automation platform t

[2017-04-24 17:28] jszwedko commented on #236
:+1: I think using user authentication will be the simplest for now (we can introduce the concept of other authentication mechanisms like API tokens later if needed).

Pagination will probably be a must for this given the size of the data.

[2017-04-24 17:32] idilbereket opened #238 "problem logging in the back-end"
Hello, I am from the SFPUC and have been one of the administrators and logging in on the back-end. Today, it's no longer allowing me to access the admin site. Can you help? I have not changed my username and password. Here is a screenshot. Thank you!
![aad - unable to login on admin site](https://cloud.githubusercontent.com/assets/23368936/25350234/521411ca-28d9-11e7-992c-d90cfde40e2b.JPG)

[2017-04-24 17:43] jszwedko commented on #238
Apologies @idilbereket, we were doing some clean up and must have inadvertently removed your access. This should be fixed now, let me know if it still doesn't work!

[2017-04-24 17:45] idilbereket commented on #238
Thanks much for fixing it super quickly! It's working now.

[2017-04-24 17:56] jszwedko commented on #238
No problem! Closing this out, but let me know if you have any other issues.

[2017-04-24 17:56] #238 closed

[2017-04-24 20:13] jszwedko commented on #234
@jafowler49 apologies, just circling back to this now, but I've added you as an admin in adopt-a-drain and as a collaborator on the Heroku projects.

[2017-04-24 20:19] jszwedko commented on #173
Made one more tweak to prepend `N-` to the City IDs for clarity and configured the task to run daily at midnight. Will check on this tomorrow morning to make sure it ran successfully.

[2017-04-24 22:07] chaunceygraves commented on #173
Hi Jessie,
The “SFPUC_Maximo_Asset_ID” should already have an “N-“ on the front: make sure you’re not prepending to DPW_Node_ID which does not have an N and is a different number, see below. Call if you have questions.

thanks

[cid:image001.png@01D2BD0C.7B2FE7C0]

John Seagrave  | Engineering Associate
Hydraulic Engineering  |  Public Works  |  City and County of San Francisco
1680 Mission St |

[2017-04-24 22:24] jszwedko commented on #173
Thanks for clarifying @chaunceygraves!

In this case, this is the field mapped from `PUC_Maximo_Asset_ID` as `city_id`. We strip the `N-` when importing as the column we are storing in is an integer so I'm prepending again in the output to make it clear that this is the Maximo asset ID.

Initially we'd kept the `city_id` as an integer for compatibility with the upstream Adopt-a-Hydrant project, bu

[2017-04-25 22:15] jeanwalshie commented on #234
hey, the logos look great! but now the video isn't showing up for me... i'll open another issue for this. i think this one can be closed! thanks @jafowler49 !

[2017-04-25 22:17] jeanwalshie commented on #208
this looks good to me!

[2017-04-25 22:20] jszwedko commented on #234
@jeanwalshie note that the video only shows up when you are not signed in (I was able to see it when logged out).

[2017-04-25 22:21] jeanwalshie commented on #234
@jszwedko thanks -- but there's a white space where the video normally is. i don't remember that space being there... did something change?

[2017-04-25 22:25] jszwedko commented on #234
Hmm, when you are signed in? Or not signed in?

This is what I see when not signed in:

![2017-04-25-152507_464x666_scrot](https://cloud.githubusercontent.com/assets/316880/25410400/6c4e4c98-29cb-11e7-8371-22c55f54fd72.png)

[2017-04-25 22:27] jeanwalshie commented on #234
sorry! in chrome, when signed in, here's what i see:
![image](https://cloud.githubusercontent.com/assets/15933453/25410431/9c16f178-29cb-11e7-9156-6b930f70bdc9.png)

[2017-04-25 22:31] jszwedko commented on #234
Aaah, yes, I see, that is a result of these changes; I neglected to test with a smaller number of drains. I'll adjust that now.

[2017-04-25 22:37] jszwedko commented on #234
@jeanwalshie made the changes in #239 and pushed to staging (http://adoptadrainsf-staging.herokuapp.com/) if you have a chance to take a look.

[2017-04-25 22:40] jeanwalshie commented on #234
awesome, thanks! i forgot the password for the staging site -- sorry! (mine doesn't work.)

[2017-04-25 22:41] jszwedko commented on #234
@jeanwalshie :+1: you can feel free to create additional accounts there (or reset your password).

[2017-04-25 22:47] jeanwalshie commented on #234
oh! so sorry -- i thought there was a separate staging password. i'm clearly doing too many things at once. you are a patient man.

looks great! :)

[2017-04-25 22:47] jszwedko commented on #234
No worries! Thanks for checking it out. I'll promote it.

[2017-04-25 22:47] #234 closed

[2017-04-25 22:49] jszwedko commented on #234
Apologies, I keep forgetting Github will autoclose issues from PRs. I'll stop using the keywords it looks for to do that.

[2017-05-02 04:47] jafowler49 commented on #208
Looks like this is done, closing!

[2017-05-02 04:47] #208 closed

[2017-05-02 19:45] jafowler49 commented on #236
pull request for this feature opened @ https://github.com/sfbrigade/adopt-a-drain/pull/241

thanks!

[2017-05-04 03:50] jafowler49 commented on #232
closin this per our meeting

[2017-05-04 03:50] #232 closed

[2017-05-19 21:50] jeanwalshie opened #242 "How to see who the Admins are? (and make a change)"
hello team -

1) i'm wondering if there is a way to see who the admins are on the back end
2) i would also like to change my admin email from gmail to my city email

thank you in advance @jszwedko @jafowler49 !

[2017-05-19 21:55] jeanwalshie opened #243 ""Reminders" section on admin site"
Under Navigation there are three things: Drains, Reminders and Users.

What is "Reminders" for?

If this feature isn't being used and we don't see a use for it, do have the option of removing it?

[2017-05-23 01:35] FrankieBurton opened #244 "Add Branding to App Generated Emails?"
Hi there,

Is it possible to add branding to the emails an adopter receives when they adopt one or more drains? For example we'd like to include the logo so it better matches the Salesforce generated emails.

Thanks!

[2017-05-30 16:55] jszwedko commented on #244
For sure, can you describe what you would like to see in them?

[2017-05-30 17:11] jszwedko commented on #242
Hi @jeanwalshie

You can see the current admins here: https://adoptadrain.sfwater.org/admin/user?model_name=user&utf8=%E2%9C%93&f%5Badmin%5D%5B41771%5D%5Bv%5D=true&query=

If you navigate to a user, you can check the "Admin" box for that user:

![2017-05-30-121042_207x63_scrot](https://cloud.githubusercontent.com/assets/316880/26595465/199bc85a-4531-11e7-9f89-656520ebca41.png)

Hope this helps!

[2017-05-30 17:13] jszwedko commented on #242
(I also updated your user's email to the @sfwater.org address -- you'll need to use this one when logging in now)

[2017-05-30 17:34] jszwedko commented on #242
Scratch that, I see there is already a user with that address. Instead, made the other user an admin.

[2017-05-30 20:10] jeanwalshie commented on #244
hi @jszwedko and welcome back from your travels!
i think @FrankieBurton was wanting to add the SFPUC/Adopt a Drain logo to the outbound emails. we are also looking at refreshing those emails, so we can hold off on this for now.

[2017-05-30 20:14] jeanwalshie commented on #242
got it, so do a filter for admin = true.

great, i'll close this. thanks @jszwedko!

[2017-05-30 20:14] #242 closed

[2017-06-11 22:51] jszwedko commented on #243
The "Reminders" feature did originally permit admins to send messages to the user that adopted a given drain via a button in the popup that appears when clicking on an adopted drain, but it was removed from in #105

If we don't see any use for it, I'd be OK with dropping it completely.

[2017-06-15 23:17] jeanwalshie commented on #243
hmmm, ok, let's keep it for now. who knows, we may want to bring it back to life at some point. thanks @jszwedko!

[2017-06-15 23:17] #243 closed

[2017-06-15 23:22] jeanwalshie commented on #57
is there a way i can see the list of words that are in the "profanity filter"?
also, thinking of closing this because it hasn't become an issue...

[2017-06-16 19:30] jszwedko commented on #57
@jeanwalshie you can find the lists here:

* https://github.com/tjackiw/obscenity/blob/master/config/blacklist.yml
* https://github.com/tjackiw/obscenity/blob/master/config/international.yml

[2017-06-20 18:26] #235 closed

[2017-06-24 02:51] FrankieBurton opened #245 "Revisions to the Email Received After Adopting One Drain"
- [ ] Change the first email subject to: Thanks for adopting a drain, [Name]!

- [ ] Include the image below as the header of the email and center it.
![image](https://user-images.githubusercontent.com/23368836/27504937-09a5176e-5849-11e7-8368-cc330c30f24d.png)

- [ ] Replace the existing text with the text and images below using Arial 12 pt font.

Dear (NAME),

Thank you for adopting one of San F

[2017-06-24 03:09] FrankieBurton opened #246 "Revisions to the Email Received After Adopting Two Drains"
- [ ] Change the first email subject to: Thanks for adopting another drain, [Name]!

- [ ] Include the image below as the header of the email and center it.
![image](https://user-images.githubusercontent.com/23368836/27504937-09a5176e-5849-11e7-8368-cc330c30f24d.png)

- [ ] Replace the existing text with the text and images below using Arial 12 pt font.

Dear (NAME),

Wow! Thank you for adopting a

[2017-07-01 00:07] jeanwalshie commented on #57
thanks @jszwedko!

that gave me a chuckle. I'm going to close this issue.

[2017-07-01 00:07] #57 closed

[2017-07-01 00:09] jeanwalshie commented on #173
this is running, right? can we close this issue? @chaunceygraves

[2017-07-01 00:13] jeanwalshie commented on #42
update: this is moving forward! we have created a model that will identify priority drains based on repeated calls to 311 over the past 9 years. the next step will be to figure out details of how the drain data will get updated and how often to import, etc, and then we'll figure out what the new icon will look like for a priority drain. more on this soon!

[2017-07-01 00:15] jeanwalshie commented on #244
@frankieburton do you want to close this issue since you created two new issues? thanks.

[2017-07-13 18:26] jeanwalshie opened #247 "Add text to "What does it mean to adopt a drain" button"
I would like to add this content to the bottom of the pop up:

Volunteer Developer Opportunities

Are you a programmer with Ruby on Rails experience who wants to help improve and maintain the Adopt a Drain application? Don't be shy! We're always seeking assistance with the code! Get involved and follow our GitHub page. (LINK TO PAGE)

[2017-07-13 18:29] jeanwalshie opened #248 "Remove Program Background button and associated pop up"
I would like to remove this button because I feel it's a bit redundant, we are creating a page on the SFPUC website that will contain this information, and I feel it's not relevant to the majority of folks visiting the site.

The language about helping with the code will be retained in the "What it Means to Adopt a Drain" tab (in another issue.)

thanks!

[2017-07-13 18:33] #244 closed

[2017-07-22 01:47] FrankieBurton commented on #245
@jasonlally What is the status of this request?

[2017-07-25 00:01] jeanwalshie commented on #248
thanks @jszwedko! what's the next step on this? does @jafowler49 need to review?

[2017-07-25 00:01] jeanwalshie commented on #247
sweet! thanks @jszwedko. what's next to make this live? @jafowler49

[2017-07-27 20:34] FrankieBurton commented on #245
@jszwedko It does not appear this email has been updated. We checked the staging site and the live site. I'll send you an email.

[2017-07-27 20:34] FrankieBurton commented on #246
@jszwedko It does not appear this email has been updated. We checked the staging site and the live site. I'll send you an email.

[2017-07-27 20:35] FrankieBurton commented on #246
@jszwedko It does not appear this email has been updated. We checked the staging site and the live site. I'll send you an email. @jasonlally can you help with this request?

[2017-07-27 20:37] FrankieBurton commented on #245
@jszwedko It does not appear this email has been updated. We checked the staging site and the live site. I'll send you an email. @jasonlally can you help with this request?

[2017-07-28 22:54] kmcurry opened #251 "Accept feedback from users"
As a User, I want to provide feedback or contact you.

Adopt-a-drain in St. Paul and Oakland both have links to provide feedback. Both use mailto: hyperlinks to open email, which gets the job done. A better approach might be a city UserVoice or similar service.

[2017-08-03 16:28] jszwedko commented on #247
Hi @jeanwalshie,

Since this is just a copy update, I think either you or another SFPUC representative reviewing would be sufficient. You can see the changes via this temporary app: https://adoptadrainsf-staging-pr-249.herokuapp.com/

Please see https://github.com/sfbrigade/adopt-a-drain/pull/249#issuecomment-315477185 for more details about the new change review process (also sent as an e-mail).

[2017-08-03 16:28] jszwedko commented on #248
Hi @jeanwalshie,

Since this is just a copy update, I think either you or another SFPUC representative reviewing would be sufficient. You can see the changes via this temporary app: https://adoptadrainsf-staging-pr-249.herokuapp.com/

Please see https://github.com/sfbrigade/adopt-a-drain/pull/249#issuecomment-315477185 for more details about the new change review process (also sent as an e-mail).

[2017-08-04 10:40] jszwedko commented on #251
Hi @kmcurry,

This does actually exist in one of the modals (the button that says "What Does it Mean To Adopt a Drain?"); however, I can see that a user would probably not think to look there for the feedback link. @jeanwalshie what do you think about putting it at the bottom of the sidebar?

[2017-08-04 13:45] jeanwalshie commented on #251
hi @kmcurry,

yes, definitely agree that a contact link should be provided. i'm not opposed to putting it at the bottom of the sidebar, but i do want to avoid getting questions that could have been answered if the user had read the other info on the page. so for now i think it's best to keep the email address on the "What Does It Mean to Adopt a Drain" modal.

And of course, now I'm thinking it wo

[2017-08-04 13:59] jeanwalshie commented on #248
hey @jszwedko,

this works for me on chrome, but when i tried on explorer i get an error message where the video should be. the video doesn't play and it says to download javascript. i guess that's just something on my end, right?

[2017-08-04 14:03] jeanwalshie commented on #247
thanks @jszwedko! this looks great. the one thing i would change is to move the Contact Us info to the very bottom so it's not buried in there. Thanks so much!

[2017-08-04 14:41] jeanwalshie opened #252 "Design changes to "What Does It Mean to Adopt a Drain?" button"
I would like to do two things to this button:
1) remove the text that says "Click here..."
2) round the corners so it matches the other buttons on the page.

thank you!

[2017-08-04 16:45] FrankieBurton opened #253 "Testing"
Testing

[2017-08-04 16:45] #253 closed

[2017-08-09 19:38] krwebb opened #254 "Revisions to the Email Received After Adopting One Drain"
#245

- [ ] Change overall font to 12 pt, Arial.

- [ ] Move the header image below to the left. Absolute position 1.5" to the right of Column.
![image](https://user-images.githubusercontent.com/23368836/27504937-09a5176e-5849-11e7-8368-cc330c30f24d.png)

- [ ] Add line space after > Dear Name,

- [ ] Move the image below to the left. Absolute position 1.5" to the right of Column.
![image](https:/

[2017-08-09 20:13] krwebb opened #255 "Revisions to the Email Received After Adopting Two Drains"
#246

- [ ] Change overall font to 12 pt, Arial.

- [ ] Move the header image below to the left. Absolute position 1.5" to the right of Column.
![image](https://user-images.githubusercontent.com/23368836/27504937-09a5176e-5849-11e7-8368-cc330c30f24d.png)

- [ ] Add line space after > Dear Name,

- [ ] Add line space after > Wow! Thank you for adopting another drain.

- [ ] Add line space after > U

[2017-08-09 20:20] jszwedko commented on #247
@jeanwalshie pushed another commit moving the Contact Us to the bottom. Do you mind taking another look (https://adoptadrainsf-staging-pr-249.herokuapp.com/) and I'll merge this in?

Thank you!

[2017-08-09 20:24] jeanwalshie commented on #247
@jszwedko looks great, let's roll!

[2017-08-09 20:51] jszwedko commented on #252
Changes visible here: https://adoptadrainsf-staging-pr-256.herokuapp.com/

Note that this does not include the changes from #247 #248 since they still need to be merged.

Let me know what you think @jeanwalshie !

[2017-08-09 20:56] jszwedko commented on #247
Awesome, rolling this out now!

[2017-08-09 20:56] #247 closed

[2017-08-09 20:58] jszwedko commented on #248
Interesting, I can't imagine any of these changes would have affected that. Do you see the same issue in production with IE?

Closing this out since I rolled out #249, but let me know and I can look into this more if you see it in production too.

[2017-08-09 20:58] #248 closed

[2017-08-09 21:01] jszwedko commented on #251
:+1: I'm fine with keeping it there for now.

[2017-08-09 21:01] #251 closed

[2017-08-09 21:27] jszwedko commented on #254
Hi @krwebb,

I think the e-mail currently reflects all of these (aside from the relative positioning of the images which are currently centered).

Here is an image of the top half of the e-mail which I just tested (ignore the black square; that was added by the screenshot tool):

![2017-08-09-142352_946x438_scrot](https://user-images.githubusercontent.com/316880/29144702-b9718db4-7d0e-11e7-9090-07

[2017-08-09 22:44] jeanwalshie commented on #252
looks good to me! thanks @jszwedko !

[2017-08-09 22:46] jeanwalshie commented on #176
i'm gonna close this. orgs can already name their drain with their business or other entity, and we don't want the site cluttered up with logos, on second thought...

[2017-08-09 22:46] #176 closed

[2017-08-09 22:49] jeanwalshie commented on #193
i'm going to close this, since the password barrier doesn't seem to be too much of an issue with 1000+ drain adopters! :)

[2017-08-09 22:49] #193 closed

[2017-08-09 22:52] jeanwalshie commented on #148
closing this out. with the on screen instructions and auto email, i think it's clear.

[2017-08-09 22:52] #148 closed

[2017-08-09 23:50] #252 closed

[2017-08-09 23:57] jeanwalshie commented on #10
i'm closing this because we already email drain adopters in advance of heavy rains and we are currently exploring sending text message reminders as well.

[2017-08-09 23:57] #10 closed

[2017-08-09 23:59] jeanwalshie commented on #142
hey, this is done! thanks @jszwedko . closing.

[2017-08-09 23:59] #142 closed

[2017-08-09 23:59] jszwedko commented on #252
Released!

[2017-08-10 00:12] jeanwalshie opened #257 "Link SFPUC logo to the SFPUC Adopt a Drain webpage"
We'd like the SFPUC logo (bottom left) to drive people to the Adopt a Drain page vs. the SFPUC home page.

This is the link: https://sfwater.org/index.aspx?page=1184

Thank you!
Jean

[2017-08-11 00:39] jszwedko commented on #257
Deployed this change here: http://adoptadrainsf-staging-pr-258.herokuapp.com/

It is a pretty trivial change, but let me know what you think @jeanwalshie !

[2017-08-11 00:39] jszwedko commented on #246
Closing this since #250 was released

[2017-08-11 00:39] #246 closed

[2017-08-11 00:39] jszwedko commented on #245
Closing this since #250 was released

[2017-08-11 00:39] #245 closed

[2017-08-11 01:29] jeanwalshie commented on #257
looks great! thanks!

[2017-08-11 01:29] #257 closed

[2017-08-11 03:03] jszwedko commented on #257
Released!

[2017-08-15 16:30] krwebb commented on #254
Hi @jszwedko thank you for your help with the revisions. Can you please post the link of the test site again so I can review it one more time? The last I tested it on 8/03/17 and there were still some spacing issues. The middle has spaces but the top an bottom needed line spacing, see below. I will test it again once you post the link, perhaps you made edits after I tested it. Thank you!

![test e

[2017-08-15 16:44] jszwedko commented on #254
Hi @krwebb,

Both production and the staging site are up-to-date with the changes if you want to try one of those again.

Here is what the bottom looks like to me:

![2017-08-15-094257_852x313_scrot](https://user-images.githubusercontent.com/316880/29325885-3a51755a-819e-11e7-8251-49cf6120c75f.png)

[2017-08-27 02:06] scottcarol commented on #147
Hi @j6design, it looks like the placeholder text is being used as a label (not good for a11y).

Can you brainstorm a better solution with me?

Here is the current code. Right now there is no label:

`
  %fieldset.form-group
    = search_field_tag "address", params[:address], :placeholder => t("labels.address"), :class => "search-query form-control"
    .help-block
`

I added a label that is visibl

[2017-08-28 20:09] jszwedko commented on #254
Hi @krwebb,

Just checking in on this to see if you had a chance to reverify.

Thanks!

[2017-08-28 20:10] jszwedko commented on #173
This has been live for long enough that I'm comfortable closing it out. Thanks to everyone that helped make this happen!

[2017-08-28 20:10] #173 closed

[2017-08-29 16:09] scottcarol commented on #147
Hey @jszwedko see this article on [using placeholders as labels](https://www.nngroup.com/articles/form-design-placeholders/).

Any chance we can add a visible label to the address search form?

Otherwise, I can submit a pull request with the workaround I posted above, which adds an invisible label for screen readers only.

[2017-08-29 16:24] jeanwalshie commented on #147
@scottcarol thanks for reviving this and for the informative article!

[2017-08-29 16:56] krwebb commented on #254
Hi @jszwedko ,

Thank you for following up. I am just getting to checking this however when I tried to access the temporary application, the link is dead. Can you re-post or should I test it from the actual app?

Thank you,

Kristen

[2017-08-29 22:06] jeanwalshie commented on #254
hi @krwebb see if this works. I grabbed it from a closed issue - you can do the same if need be next time: http://adoptadrainsf-staging.herokuapp.com/

[2017-08-29 23:22] krwebb commented on #254
Hi,

Thanks @jeanwalshie that link worked to test the auto emails. Thank you again @jszwedko for all of your work on this. The line spacing looks good for the most part. Both emails need a line space after the closing line, "Sincerely", before "SFPUC Adopt a Drain Team".  In the email after adopting two drains, please add a line space after the first line, "Wow! Thank you for adopting another drai

[2017-09-05 23:14] scottcarol commented on #147
@jeanwalshie Thanks! I'm getting my adopt-a-drain feet wet (pun intended) and would like to start with a11y issues. Planning to come to the coding meetup 9/13 to meet some collaborators in person.

[2017-09-12 01:11] jszwedko commented on #147
Hey @scottcarol,

Apologies for the delay; I've been traveling the past couple of weeks. I agree with the points in the article you linked to would be happy to see the placeholder moved to a label on that field.

I'll be at the 9/13 hack night though and would be happy to chat more there!

[2017-09-12 20:46] scottcarol commented on #147
@jszwedko - great. Something came up and I won't be there tonight but I will be there 9/20.

I'll submit a pull request for this as soon as I can.

[2017-09-13 00:43] chaunceygraves commented on #147
Hi Carol,
Be where ? Weren’t you talking about Code for SF Meet Up on 9th street? I thought that is WEDNESDay?

Cheers,

John Seagrave  | Engineering Associate
Hydraulic Engineering  |  Public Works  |  City and County of San Francisco
1680 Mission St |  San Francisco, CA 94103   |  (415) 554-8305 |  john.seagrave@sfdpw.org<mailto:john.seagrave@sfdpw.org>

From: Carol [mailto:notifications@github.